[2016-04-07 20:36] blainekasten opened #11 "MATCHER WANTED: `toHaveStyle(key, value)`"
SPEC:

[code]

[2016-04-08 04:42] #11 closed

[2016-05-06 05:04] adz opened #18 "Rename matchers to avoid core jasmine overrides"
Just started playing with enzyme and jasmine-enzyme and got stuck on an unexpected bug. Currently the ```toMatch``` and ```toContains``` matchers override core jasmine matchers which work on strings.

Would you consider renaming these?
They could be renamed to something like ```toMatchSelector``` and ```toContainReact``` or something like that...

Appreciate your time, and thanks for your effort a

[2016-05-06 17:52] blainekasten commented on #18
Of course! I've thought about that before and not been sure if that was actually a problem or not. I'll get a new version up this afternoon.

[2016-05-06 19:06] #18 closed

[2016-05-06 19:09] blainekasten commented on #18
@adz got a 1.0.0 published with the renames! Thanks for bringing this up. Also put in some code to prevent it in the future. 👍

[2016-05-06 23:34] adz commented on #18
Great! Thanks

[2016-05-16 15:51] blainekasten opened #23 "toHaveText matcher"
A nice alias to `wrapper.text() === actual`

[2016-05-19 14:54] blainekasten opened #25 "Make library work with `render`"
Currently we are doing nothing with `render`ed components. chai-enzyme is supporting them nicely. We should find a way to support `render`ed components.

[2016-05-19 19:51] blainekasten opened #26 "toBeInstanceOf matcher"
Name up for discussion.
Idea is that if I want to check that a wrapper is a specific component, I could assert easily.

[code]

Is the name correct?

[2016-05-19 19:54] blainekasten commented on #26
I think the implementation would be something like:

[code]

[2016-05-26 00:20] tronroy commented on #26
Would the name be better if it were something like `toBeType` or `toBeOfType`? It might mentally map better to the enzyme method `type` that would be used in the assertion.

[2016-05-26 21:19] blainekasten commented on #26
Also sort of concerned that it would infer `typeof` asserting. Though to be fair, `toBeInstanceOf` feels like an alias to `expect(foo instanceOf bar).toBeTruthy()`

Internally in React, code that refers to instantiated React Components is typically used with a variable of `var _inst`. So that makes me like instance again.

maybe `toBeInstOfComponent(Component)`?

[2016-05-27 14:54] tronroy commented on #26
I actually don't think `toBeInstanceOf` is a bad name. I guess what is bothering me at first is that the implementation of `toBeInstanceOf` would be the same as `toHaveTagName` since both would be testing the nodes by calling `.type()` on them. That's why I suggested a broader name like `toBeType` (which I agree is not ideal).

Maybe `toBeInstanceOf` would be better for something like this:

[code

[2016-06-01 20:06] #23 closed

[2016-06-07 15:48] whawker opened #29 "Question: Avoid requiring enzyme for `toContainReact` matcher"
Hi,

I've been trying to create a Karma plugin wrapper for this project, however I've hit a road block as the `toContainReact` [matcher requires Enzyme](https://github.com/blainekasten/jasmine-enzyme/blob/master/src/assertions/toContainReact.js#L9).

I've been playing around with the matcher, and found an alternative, but hacky solution to avoid the import.

Using
[code]
Instead of
[code]

This us

[2016-06-07 17:01] blainekasten commented on #29
Are you not able to require enzyme? This project has a hard dependency on Enzyme.. So I'm curious why jasmine-enzyme using it internally causes issues first.

[2016-06-08 07:32] whawker commented on #29
From what I can gather, the plugins have to run in the browser context, so `require` is undefined. One solution is to also bundle Enzyme with the plugin too, but that has requirements on React and ReactDOM, so the overall plugin becomes much larger.

[2016-06-08 13:25] blainekasten commented on #29
I think you would probably want to use some tooling to build together all the dependencies... You could use webpack or browserify. jasmine-enzyme doesn't work without enzyme. And enzyme definitely uses `require` in it's code base also. How were you planning on working around that?

You could try something like this https://github.com/karma-runner/karma-commonjs

[2016-06-08 13:29] blainekasten commented on #26
True. That wouldn't add any benefit really.

I guess at the end of the day this matcher idea is the same as using `toHaveTagName` except you are matching on the definition instead of the tag name.

[code]

This also can be achieved with the `toMatchSelector` matcher since enzyme supports declaration matching anyhow.

[code]

With that in mind. I think this is not actually a worthwhile assertion. I

[2016-06-08 13:29] #26 closed

[2016-06-08 22:53] whawker commented on #29
I have been using webpack to attempt to bundle the plugin.

From what I can see, apart from the _tests_ for the assertions - the only assertion that explicitly requires Enzyme is `toContainReact` - and that is only used to generate an error message.

All the other assertions have an Enzyme object injected via the `expect(<EnzymeObj>)` Jasmine call - Jasmine-Enzyme then uses the methods provided by

[2016-06-09 14:23] blainekasten commented on #29
It's a creative idea. But it feels unsafe unfortunately. If enzyme changed their internal implementation of what it means to contain react elements, then this idea might not stand true and result in bugs. Unfortunately I'd rather just rely on the safe method and say it's up to implementors to get it to work.

I know that's not the answer you were hoping for. But I don't think making the library le

[2016-06-09 16:32] blainekasten commented on #29
Okay. So i read the code, and your OP wrong earlier when I looked at it. I see it's because of the `.html` call. Ultimately. I think that it's unrealistic that we'll completely avoid importing enzyme for any future matchers. Even if we decided to go that way, it'd be hard to not let that slip in on accident as it _just make sense_.

So, unfortunately I'm going to close this issue and leave it to u

[2016-06-09 16:32] #29 closed

[2016-06-16 01:32] blainekasten commented on #25
Does anybody actually use the `render` method with enzyme? I'm never use it and wonder if it's really necassary to support..

[2016-07-01 01:46] ngthorg opened #30 "MATCHER WANTED: `toHaveAttr(key, value)`"
SPEC:

[code]

[2016-07-01 14:24] blainekasten commented on #30
So, I worked on the code to implement property selectors in Enzyme. Originally it was built to support html attributes also, similar to the matcher your expecting. It was ultimately decided against supporting attributes because that means in some ways, you are testing react itself, and not just your components.

So with that said, i'm hesitant to take anything around this. But can you explain your

[2016-07-07 22:17] colinrcummings opened #31 ""not" missing in message when evaluating negative assertions"
I've noticed that if a negative assertion fails using one of the assertions in this library, it fails correctly but "not" is missing in the message text. For example:

##### Component:
    import React from 'react';

    class Fail extends React.Component {
      render () {
        return (
          <div>
            <input id="checked" checked={true} />
            <input id="not" checked={true

[2016-07-08 04:46] blainekasten commented on #31
Interesting. I assumed jasmine handled this for me. I'd be excited to see a PR for this if you have the free time. Otherwise i'll try and get to it soon

[2016-07-10 04:09] carlbaron opened #32 "Installation instructions are vague"
I was excited to try out this library but I ran into a lot of trouble installing and configuring.

I did get it working but I think others may have some difficulty too. I'm happy to make a PR with some more detailed installation instructions if it would be helpful.

[2016-07-10 21:07] blainekasten commented on #32
A PR would be awesome for anything you think that could be clearer!
On Sat, Jul 9, 2016 at 11:09 PM Carl Baron <notifications@github.com> wrote:

[2016-07-11 02:16] carlbaron commented on #32
@blainekasten Cool! I made a small PR, see #33. I've been using Jest for a while but I'm brand new to Enzyme. The enzyme docs brought me here so maybe I missed some steps that their documentation would have made clear, but I think it will help some people to see everything laid out in the `jasmine-enzyme` docs as well.

I think it may be helpful to provide a complete example project as well so new

[2016-07-11 13:02] blainekasten commented on #32
I'm sort of on the fence of the example project. This library isn't that complicated that I wouldn't want to conflate the codebase for little benefit. But I'm not against it either. If you think it would help and could put together a minimal code use I _might_ be interested.

For now i'm going to close this issue as we merged the original issue

[2016-07-11 13:02] #32 closed

[2016-07-11 13:29] carlbaron commented on #32
OK cool, after thinking about it more I agree, an example project is probably too much at this point.

[2016-07-20 19:00] blainekasten commented on #31
I started working on this in branch `EnhanceNegatedMessages`. I'll slowly keep working on it for a while until it's done. It's a lot of monotonous work so it probably won't happen quickly. If anyone wants to take it over and finish it, that'd be awesome! Otherwise it'll finish eventually ;)

[2016-08-05 19:11] gdehmlow opened #35 "Assertion message improvements when using .not"
Some of the messages for matchers are misleading when using `.not`.

For example, whether you do `expect(this.subject.find(...)).toBePresent()` or `expect(this.subject.find(...)).not.toBePresent()`, upon failure, the error message is "Expected contents to not be empty, but it is".

I think it would be more useful if the message changed depending on whether the assertion passes. For example, instea

[2016-08-05 19:23] blainekasten commented on #35
Thanks for the post! This was recently brought up in #31 and has a PR up for review in #34 that will be merged soon. I'm going to close this as duplicate. Be on the look out for a new version soon

[2016-08-05 19:23] #35 closed

[2016-08-05 20:14] gdehmlow commented on #35
Wow my reading comprehension skills are limited. thanks

[2016-08-10 16:59] blainekasten commented on #31
This is now released in 1.2.0 🎉

[2016-08-10 16:59] #31 closed

[2016-08-10 16:59] blainekasten commented on #35
This is now released in 1.2.0 🎉

[2016-09-09 17:02] wdoug opened #37 "Support matchers for `equals` or `matchesElement`"
For enzyme [.equals](http://airbnb.io/enzyme/docs/api/ShallowWrapper/equals.html), it would be great to be able to write:

[code]

instead of

[code]

which gives no useful information on failure.

Or the equivalent with [.matchesElement](http://airbnb.io/enzyme/docs/api/ShallowWrapper/matchesElement.html)

[2016-09-09 20:24] blainekasten commented on #37
That does sound like a good addition. I'm currently on paternity leave for
another month. If you want to put up a PR though I can try and get it
merged sooner than that!
On Fri, Sep 9, 2016 at 12:02 PM Willy Douglas <notifications@github.com>
wrote:

[2016-09-12 17:02] jjinux opened #38 "toHaveText seems like it'll be likely to break; I suggest toIncludeText"
I think the danger with toHaveText is that if you add any more text anywhere else in the component, the test will break. If you add another matcher called toIncludeText that just asserts that the text includes some text, that would be much more resilient to false failures.

[2016-09-16 06:30] andrewzielinski commented on #38
I agree with @jjinux. It makes tests extremely brittle

[2016-09-22 14:31] blainekasten commented on #38
Sorry for the delay on the response. I'm currently on paternity leave so mostly afk.

However, this is good conversation. I think you have a good point. I also think in some cases that might be a desired effect for that test to break. The point of tests are for them to break.

I think it might be a good idea to support both cases though and let users decide what makes sense for them. Would you wan

[2016-09-24 01:57] jjinux commented on #38
Congrats! I actually have 8 kids ;)

Yes. That's why I was advocating for adding a new matcher.

Ok.

[2016-09-29 16:03] pascalduez commented on #25
Hi,

actually I do use render for presentational components. There's often cases I want to test child elements and render is a bit easier. Otherwise you need the sub components imported to be able test against them.

[code]
With render:
[code]
With shallow:
[code]

Recently switched to Jest, so we might actually do more snapshots, but still.

[2016-09-30 11:21] blainekasten commented on #38
Dang! 8 sounds intense right now. Haha. Looking forward to the PR

[2016-09-30 12:10] blainekasten opened #39 "Future Plans"
Jest is diverging from jasmine slowly, so we need to prepare for that change. My plan is this:

- [x] convert repo to multi-repo with lerna
- [x] rename repo to `enzyme-matchers`. Different name?

*packages would be:*
- enzyme-matchers
- jasmine-enzyme
- jest-enzyme

Could be extensible for mocha, chai, Ava, etc with this approach

[2016-09-30 12:30] blainekasten commented on #39
Is anything directly changing with the addMatcher API?

cc @cpojer / @dmitriiabramov

[2016-09-30 12:37] cpojer commented on #39
See https://github.com/facebook/jest/issues/1835 Please help us out!

[2016-10-02 18:15] blainekasten commented on #25
That's good to know. Thanks for reporting. I think we'all be in an easier place to support this after #39 is done.

[2016-10-11 17:01] blainekasten opened #41 "Should throw error when assertions don't support shallow, but receive it"
Example on the top of my head, refs are only supported in `mount`. So if someone passes a `shallow` wrapper to `toHaveRef`, we should throw a useful message.

[2016-10-13 14:44] cwmoo740 commented on #37
https://github.com/blainekasten/jasmine-enzyme/pull/43

[2016-10-13 17:57] blainekasten opened #44 "Implement jest expect.extend API"
1. First jest needs to expose the api: https://github.com/facebook/jest/issues/1835
2. Then change `jest-enzyme` to use that instead of jasmine.

[2016-10-13 17:57] blainekasten commented on #44
See comment from #39

[2016-10-13 18:22] #39 closed

[2016-10-13 18:35] blainekasten commented on #41
@cwmoo740 had a good fn for this in https://github.com/blainekasten/enzyme-matchers/pull/43/files

[2016-10-13 19:33] blainekasten opened #45 "[Matcher]: `toMatchSnapshot` for enzyme comp"
**`jest-enzyme` ONLY**

It would be real cool if we could support enzyme with snapshot testing in jest. Since we rejected it from living in the enzyme repo (https://github.com/airbnb/enzyme/pull/541), this seems like the natural place.

Of course we would have to fall back to the original `toMatchSnapshot` if a non-enzyme wrapper was given.

Basic thoughts:

[code]

[2016-10-13 19:35] blainekasten commented on #45
Looks like we could just use this: https://github.com/adriantoine/enzyme-to-json

[2016-10-13 20:07] blainekasten commented on #45
Tried to implement this, seems like we probably need #44 first as I'm not getting the right class values set for my matcher that I need to get appropriate access to the original `toMatchSnapshot` matcher.

[2016-10-14 21:25] blainekasten commented on #44
Waiting on https://github.com/facebook/jest/pull/1933

[2016-10-31 15:34] mewdriller opened #47 "toContainReact failure message is inverted"
It looks like the assertion failure message for `toContainReact` is inverted.

### Expected

[code]

### Actual

[code]

It's a little subtle, but the error message is saying that it expected to the component *not* to contain a snippet of JSX. In this case, the expectation was that it *does* contain that snippet.

### Steps to Reproduce

1. Use the `create-react-app` boilerplate and add `jest-enzy

[2016-10-31 15:41] mewdriller commented on #47
Digging in a little, it looks like maybe [this line](https://github.com/blainekasten/enzyme-matchers/blob/v2.0.0/packages/enzyme-matchers/src/assertions/toContainReact.js#L20) shouldn't use  the `negateMessage` helper. But given that it's there, I'm assuming there's another situation that I'm not considering.

[2016-10-31 15:43] blainekasten commented on #47
This is on the latest version?

[2016-10-31 15:58] mewdriller commented on #47
I'm seeing the behavior on `v2.0.0`, which I believe is the latest.

[2016-11-18 17:17] blainekasten commented on #47
Yeah. Looking into this more, I think I made a mistake and every matcher has an inverted message :\

I'm going to work on this in the next week.

[2016-11-28 22:30] blainekasten commented on #44
Currently working on this.

[2016-11-28 22:30] blainekasten commented on #30
Looking for an update @ngthorg, otherwise I'll close this issue.

[2016-11-29 00:58] #30 closed

[2016-12-22 04:32] jagregory commented on #47
I think you're correct in your assessment, I was just about to report that `toHaveProp` has the same inverted behaviour.

[code]

Produces:

[code]

[2016-12-22 04:33] blainekasten commented on #47
Yeah. Thanks for the report. I have a branch I'm working on to fix this. It's just taking a long time with other initiatives happening! ha

[2016-12-23 20:29] #47 closed

[2016-12-23 20:29] #44 closed

[2016-12-23 20:32] blainekasten commented on #38
@jjinux were you still planning on adding this?

[2016-12-23 21:13] jjinux commented on #38
It should be done, but I just haven't had time to do it. I suck.

On Fri, Dec 23, 2016, 12:32 PM Blaine Kasten <notifications@github.com>
wrote:

[2017-01-05 23:13] jjinux commented on #38
I may be confused, but it looks like it already exists :-/

[2017-01-05 23:13] jjinux commented on #38
Sorry, never mind.

[2017-01-05 23:58] jjinux commented on #38
@blainekasten, here's a PR: https://github.com/blainekasten/enzyme-matchers/pull/49

[2017-01-10 21:41] mewdriller opened #50 "toHaveProp does not respect propValue in 2.1.0-rc1"
With the following spec:

[code]

As of `v2.0.0` the output of the above spec fails and outputs:

[code]

After the upgrade to `v2.1.0-rc1` the spec passes.

[2017-01-10 22:00] blainekasten commented on #50
Wait, are you saying that 2.1.0-rc1 fixes the behavior currently broken in 2.0.0?

[2017-01-10 23:07] dmiller-nj commented on #50
Sorry for the confusion. I'm trying to say that `2.1.0-rc1` is broken. Reverting to `2.0.0` resolves the issue.

[2017-01-11 14:46] mewdriller commented on #50
Sorry for the confusion. I'm trying to say that `2.1.0-rc1` is broken. Reverting to `2.0.0` resolves the issue.

[2017-01-11 16:22] blainekasten commented on #50
Awesome! Thanks so much for reporting the issue! I'll try and get it fixed and get a new rc out

[2017-01-12 02:28] luizbon commented on #25
@pascalduez you can use find by name with shallow without a problem.
What you need to do is search for your component name and not your HTML output.

so your With shallow code will be:
[code]

[2017-01-12 09:29] pascalduez commented on #25
@luizbon Thanks for the feedback, I'll give it another try.

Still, there are (few) cases where I'd like to test against "real" DOM elements, but  well.

[2017-01-12 13:56] blainekasten commented on #50
Figured this out! Thanks so much. That was a very real bug that I introduced! haha. Going to close this out. I'll publish a new RC in a little while and probably publish a 2.1.0 later today

[2017-01-12 14:03] #50 closed

[2017-01-12 14:07] #38 closed

[2017-01-12 14:07] blainekasten commented on #37
Going to need a new PR. That one was closed and the project was reworked a lot.

[2017-01-17 15:58] ericontilt opened #53 "Dynamic require statements fail webpack build"
My webpack build throws warnings when importing jasmine-enzyme because of the colors package imported by enzyme-matchers.

There are two files in which produce the warnings: colors/lib/colors.js (line 138) and colors/lib/extendStringPrototype.js (line 101). Both lines do a dynamic require of some module.

Since the colors package is last updated about a year ago, I don't understand why it's giving

[2017-01-18 06:02] miguel-orange opened #54 "jest-enzyme setupTestFrameworkScriptFile needs <rootDir>"
I get the below error with ` "setupTestFrameworkScriptFile": "node_modules/jest-enzyme/lib/index.js"`. I no longer have an error when prepending `<rootDir>`.

`Error: Jest: Module "node_modules/jest-enzyme/lib/index.js" in the "setupTestFrameworkScriptFile" option was not found.
    at resolve (.../node_modules/jest-config/build/normalize.js:48:11)
    at Object.keys.reduce (.../node_modules/jest-

[2017-01-18 06:52] blainekasten commented on #54
what version of jest? I think old versions of jest required rootDir, newer ones shouldn't.

[2017-01-18 06:53] blainekasten commented on #54
though it's likely worth documenting both cases if confirmed.

[2017-01-18 07:07] miguel-orange commented on #54
@blainekasten Jest version: 18.1.0
Maybe an issue with Jest? I was able to set `snapshotSerializers` successfully without `<rootDir>`.

[2017-01-18 11:42] uhlryk opened #55 "v2.1.0 TypeError: Cannot read property '_tag' of undefined"
One our test works correctly with your enzyme-matchers in **v2.0.0**. But in version **2.1.0** it stats failing.
Error doesn't look like a problem with test, it looks more like problem with enzyme-matchers.
Error stack trace:
[code]

Failing assertion looks:
[code]

We use `should` for assertions and therefore I wrote wrapper which extends `should` with your module.

For us simplest solution is to

[2017-01-18 15:18] blainekasten commented on #55
can you provide your code for what `wrapper` is?

[2017-01-18 15:19] blainekasten commented on #53
Hmmm. I could drop the dependency and just make the colors myself. Wouldn't be too hard.

Would you be willing to submit a PR to do that?

[2017-01-18 20:58] blainekasten commented on #54
Well that's good to know. Would you mind submitting a PR to update the documentation?

[2017-01-19 08:43] uhlryk commented on #55
Sure:
[code]

And AppSuggestion is `Higher Order Component`. Which wrap component created as function.

[2017-01-19 10:26] ericontilt commented on #53
Sure, I'll have a look

[2017-01-19 15:06] blainekasten commented on #55
Can you show me the component code for AppSuggestion? Just trying to figure out where the bug is.

[2017-01-20 07:44] uhlryk commented on #55
about this line :
[code]
`node` has value:
[code]

Interesting is that before this failing test we test this component with different params and all works great (we use there also toBePresent/bePresent).

In addition this failing component has other assertions which works ok. Only this one assertion throws this error.

[code]
has value:
[code]

Component has a lot of abstraction, If I show it it w

[2017-01-20 08:02] uhlryk commented on #55
It looks like that only this failing test reach
[code]

Looking on this function:
[code]
code will reach mapWrappersHTML if it has more then one node and fails. Very deep in test component there is

[code]
And it fails on it. If I remove one <p> then everything starts working

But I have in different places components with more then one child nodes and they works.

[2017-01-20 14:22] blainekasten commented on #55
I'm having a hard time reproducing this. So the `mapWrappersHTML` gets called when the function is given more than 1 node: https://github.com/blainekasten/enzyme-matchers/blob/master/packages/enzyme-matchers/src/utils/html.js#L36

Which you are doing here by giving it both `p.section` nodes.

I definitely understand where the error is, but without finding a minimal reproducible test case, I can't

[2017-01-20 17:59] uhlryk commented on #55
Hey
At Monday I will try find time to create simplest working example. But it looks like some anomaly rather then normal behavior, therefore I don't know if I accomplish this. Maybe you could push your changes on different branch and I will apply it to my code and tell you result?

[2017-01-23 17:44] pascalduez commented on #54
Since Jest 18 `setupTestFrameworkScriptFile` paths are fully resolved.

So one could also just update to:
[code]

[2017-01-23 19:01] blainekasten commented on #54
I've updated the readme for jest-enzyme. Thanks guys

[2017-01-23 19:01] #54 closed

[2017-01-23 19:03] blainekasten commented on #41
While doing this, it would be good to throw an error if we ever given a CherioWrapper for now.

[2017-01-30 14:49] blainekasten opened #57 "jest-enzyme Peer dependency is not correct"
It is currently expecting any version of 17.x.x. It should be any version equalling or above 17.x.x

[2017-02-01 21:00] mandysimon88 opened #58 "Jest installation and use of basic example is unclear / throws Error."
Using jest-enzyme, here is my test file, copied directly from your examples:

[code]

I have installed as devDependencies jest-enzyme, enzyme, react-addons-test-utils.

I get this failure message:
[code]

How am I holding it wrong?

[2017-02-01 21:20] blainekasten commented on #58
Did you follow the setup for jest-enzyme? https://github.com/blainekasten/enzyme-matchers/blob/master/packages/jest-enzyme/README.md#setup

[2017-02-01 21:23] mandysimon88 commented on #58
Yes. Here is my package.json:
[code]

[2017-02-01 21:24] mandysimon88 commented on #58
`react-scripts` currently uses `jest@17.0.2`

[2017-02-01 21:36] blainekasten commented on #58
Ah, so react-scripts handles jest config a little bit differently. This PR show you how to setup jest-enzyme with react-scripts https://github.com/facebookincubator/create-react-app/pull/994/files

[2017-02-01 22:38] mandysimon88 commented on #58
Thanks! You might add that link & explanation to the jest-enzyme README.

I'd started to dig through node_modules figuring `react-scripts` might be the problem but hadn't put it together yet that I could pass it a setup file. Thank you!

[2017-02-02 14:33] mandysimon88 commented on #58
Okay, I got the first example above working by following the instructions (making a setupTests file that imports `jest-enzyme`). I get a "Pass". But, other matcher examples still fail. For example:
[code]
Produces:
[code]

Sorry I'm having such a hard time figuring this out!

[2017-02-02 14:39] mandysimon88 commented on #58
This seems to be same error as: https://github.com/blainekasten/enzyme-matchers/issues/55 since the other matcher examples work.

[2017-02-02 14:49] blainekasten commented on #58
What version of React are you using?

[2017-02-02 14:50] blainekasten commented on #58
I just copied your test into my repo and it passed just fine. It must be a react version I wasn't planning for..

[2017-02-02 14:50] blainekasten commented on #58
A smart idea. Want to submit a PR for it?

[2017-02-02 14:50] blainekasten commented on #58
No problem at all! Glad you are finding this to be helpful!

[2017-02-02 14:51] mandysimon88 commented on #58
15.4.1
[code]

[2017-02-02 14:55] blainekasten commented on #58
Yay, I reproduced it on 15.4.2! I'll try and find a fix. Thanks so much! I'm not sure if there is a work around right now

[2017-02-02 14:55] mandysimon88 commented on #58
Awesome! Thank you!

[2017-02-02 16:52] blainekasten commented on #58
Can you test `2.1.1-rc1` please

[2017-02-02 16:55] blainekasten commented on #55
I think I figured this out. Can you test `2.1.1-rc1` ?

[2017-02-03 13:02] uhlryk commented on #55
Great! I updated to this version and it works

[2017-02-03 16:01] blainekasten commented on #55
Awesome! I'll release soon!

[2017-02-03 16:01] #55 closed

[2017-02-04 17:18] blainekasten commented on #58
I published `2.1.1` which seemed to fix this. Thanks for the reports!

[2017-02-04 17:18] #58 closed

[2017-02-04 18:55] blainekasten commented on #53
Hey @ericontilt, I just published a potential fix for this under `2.1.2-beta1` could you give it a shot?

[2017-02-05 21:36] ericontilt commented on #53
Thanks man. I'll give it a go tomorrow!

[2017-02-06 15:31] ericontilt commented on #53
Yup, that fixed it! Thanks!

And by the way, sorry for not submitting the pull request on time..

[2017-02-06 16:49] blainekasten commented on #53
`2.1.2` stable is released

[2017-02-06 16:49] #53 closed

[2017-02-15 08:21] kiranps opened #63 "toHaveStyle checks the DOM before rendering"
[code]

[code]

[code]

second case should pass and first should fail right

[2017-02-15 15:19] blainekasten commented on #63
@kiranps nope, that's actually how it should be. With Enzyme, and specifically React, it's better to be testing against the props, rather than the DOM output. Testing the DOM output would technically be testing React to make sure they properly pass props to the DOM. That is not our job. We just want to test that components get the right props and render the expected vDOM description.

So in this c

[2017-02-15 15:20] blainekasten commented on #63
I'm going to close the issue for now. Feel free to keep the conversation going, but I don't think there is anything actionable for me here at the moment.

[2017-02-15 15:22] #63 closed

[2017-03-01 21:33] rtymchyk opened #65 "Issue with assertions calling html() for contextualInformation"
I'm noticing that most of the assertions perform an `html()` invocation on the enzyme wrapper (to generate possible error output?). This triggers a `renderToStaticMarkup` from `react-dom`, which seems to defeat the whole purpose of shallow rendering because this tries to build the full tree and fails because dependencies of children in the tree are not met.

Am I missing something obvious?

[2017-03-02 05:23] blainekasten commented on #65
That's a dang good question. I think you are onto something impressive.

I'll look into this when I get a chance. If you can find a fix for this I'd likely take it. I never thought that through!

[2017-03-02 12:59] rtymchyk commented on #65
It seems like we can swap some of those out with [debug()](http://airbnb.io/enzyme/docs/api/ShallowWrapper/debug.html#-debug-string) from Enzyme instead, so we get similar HTML-like output.

I can probably get something working with that, but let me know what you find :)

[2017-03-08 17:05] rtymchyk commented on #65
Hey @blainekasten, wanted to check in and see if you had a chance to take a closer look at this. No rush, just a friendly reminder :)

[2017-03-08 18:07] blainekasten commented on #65
I have not had a chance. My life is super busy and demanding right now... If you want to put up a PR simple swapping `html` for `debug` that'd probably be the easiest way to move forward. Thanks for checking in

[2017-03-08 18:13] rtymchyk commented on #65
Sounds good, thanks.

[2017-03-13 22:45] martingordon opened #66 "`toHaveState` with stateValue passes when it shouldn't"
`toHaveState` appears to be ignoring the second argument (stateValue) as described here: https://github.com/blainekasten/enzyme-matchers#tohavestatestatekeystring-statevalueany

Since it's ignoring the second argument, tests pass if they will likely have the key even if the values don't match. Here's a reduced test case:

[code]

[2017-03-14 19:41] blainekasten commented on #66
Yikes! That's not good. Would you be willing to try and submit a PR to fix it?

The code is here: https://github.com/blainekasten/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/toHaveState.js
and the tests are here: https://github.com/blainekasten/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/__tests__/toHaveState--tests.js

[2017-03-14 19:41] blainekasten commented on #65
I think ideally we would want to call `html` on mount wrappers` and `debug` on shallow now that I think about it. So let's try and do that.

[2017-03-14 19:41] blainekasten commented on #57
Should be fixed by #67

[2017-03-14 19:42] blainekasten commented on #45
Next try #67

[2017-03-14 19:42] blainekasten commented on #37
@cwmoo740 @wdoug would either of you want to implement this?

[2017-03-22 03:07] blainekasten commented on #65
This is now published on a major bump, 3.0.0

[2017-03-22 03:07] #65 closed

[2017-04-01 21:31] mruzekw opened #71 "TypeError: expect.addSnapshotSerializer is not a function"
I receive the following error when I try to run my tests with `jest-enzyme`:
[code]

[2017-04-03 12:00] blainekasten commented on #71
I'm assuming you ignored the npm peer dependency warnings :)

Jest added this feature in version 19 hence this [https://github.com/blainekasten/enzyme-matchers/blob/master/packages/jest-enzyme/package.json#L46](peer dep).

You either need to upgrade jest or use a 2.x version of jest-enzyme that supports older versions of jest.

[2017-04-03 12:00] #57 closed

[2017-04-03 12:00] #45 closed

[2017-04-05 20:51] andrei-e-random commented on #71
Created a PR to add what you mentioned in the README.

I'm expecting people new to the ecosystem to use create-react-app a lot and stumble upon enzyme eventually. And I'm not really expecting many of them to read peer dependency warnings :).

[2017-04-05 21:58] blainekasten commented on #71
Awesome! Thanks so much!

[2017-04-06 19:01] #71 closed

[2017-04-15 12:17] Saser opened #76 "`toContainReact` fails even though output matches"
First off: I have tried searching the web to see if this was a common issue, but that does not seem to be the case. I assume this is the repository I should be posting this issue to -- if it is not, feel free to close it (and please direct me to the correct repository).

Now then!

I have written a recursive React component that I am writing tests for. For some reason, it seems that `toContainReac

[2017-04-17 04:10] SBoudrias opened #77 "Errors with flowtypes"
Hey, adding this module to jest causes a lot of flow type checking errors:

[code]

There might be a way to ignore these with a flowconfig, but it'd be better if it worked out of the box.

I wonder if maybe this could be fixed by `.npmignore` tje `src` directory as it is not used (`lib` folder is the actual module as far as I can tell)

[2017-04-17 12:23] blainekasten commented on #76
it seems like the outputs are actually different? the actual component output seems to be wrapped in an additional div?

[2017-04-17 12:23] blainekasten commented on #77
I'd be happy to accept a PR to fix and clean up flow usage!

[2017-04-20 07:48] Saser commented on #76
Hmm, maybe. Perhaps I haven't grokked everything about hos JSX works and how it interacts with these wrappers and test matchers.

Anyhow, I updated the test to not wrap the component in a `<div>` and instead just render it directly: [Saser/tocontainreact-failing @ `1a8ed51`](https://github.com/Saser/tocontainreact-failing/tree/1a8ed518c95e3d40c7c3027e9cdbf9420e09fd45). The test is still failing, w

[2017-04-20 07:51] Saser commented on #76
Oh, another note: if I "cheat" and just return the expected output directly, the test is passing.

[code]

[2017-05-05 21:01] juanca opened #81 "`toHaveTagName` does not work in IE11"
Running my spec suite on Chrome, Firefox, Safari, Edge, and IE11.

IE11 is the only browser experiencing the following:

[code]

where

[code]

Stepping through the matcher, it's pretty clear why it would be failing.

Attempting to get the name of the [enzymeWrapper](https://github.com/blainekasten/enzyme-matchers/blob/84362f841c147869296dade8d87a43bfdfbab47e/packages/enzyme-matchers/src/assertion

[2017-05-05 21:05] juanca commented on #81
Looks like `enzymeWrapper.name()` should work. Would that be preferable over `type().name`?

[2017-05-08 01:38] blainekasten commented on #81
I think `.name()` should be fine. Mind submitting a PR? If it passes the tests without any changes I would say it's a safe assumption

[2017-05-08 21:51] atomanyih opened #83 "Negative assertion messages don't work in jasmine"
[code]

Failure message: `Expected <SuperCoolComponent> to contain "lars van der hoover" but it did not.`

Looks like https://github.com/blainekasten/enzyme-matchers/commit/5d4b5505c0e8ce0532a50aab2a7d73cfde07ea87 removed negated messages for jasmine

[2017-05-09 21:53] fernandopasik commented on #30
Hi! I see value on testing how provided props can change the component html. Would this not be good candidate to test attributes?

[2017-05-10 04:21] blainekasten commented on #30
Both examples still conclude in testing props. When you render an `<input />` in react, you are not actually creating an input.

You are telling React to create an Input. You are describing what you want that input to be and look like. That is the line to draw with your tests.

Easily put:
Your concern: What you are telling React to render.
Not your concern: What React is telling the browser to re

[2017-05-10 09:01] fernandopasik commented on #30
I agree we not need to test what concerns React, but isn't my concern to test if the prop created an attribute in the input node?

I'd like to share an example I have done using chai enzyme.

[code]
And a test for this:
[code]

The only thing I'm missing in jest-enzyme is the toHaveAttr assertion.

[2017-05-10 12:21] blainekasten commented on #30
What is the benefit in the unit test of `attr('for', 'user')` vs `prop('htmlFor', 'user')` ?

[2017-05-11 17:52] #81 closed

[2017-05-11 23:32] fernandopasik commented on #30
You are right @blainekasten there is no benefit. Thank you for clarifying!!

[2017-05-13 18:52] blainekasten commented on #83
@atomanyih yikes! That's not good.. I did change things around how those things work and I primarily focused my effort around jest.. Sorry about that.

Are you interested in trying to fix this?

[2017-05-17 15:48] andriichernenko opened #86 ""expect is not defined" when importing jest-enzyme in setup.js"
I am using Jest 20 with Enzyme 2.8.0.

Importing `jest-enzyme` in my test files works, but as soon as I put it in my `setup.js` I am getting the following error:
[code]

Here's my `setup.js` file:
[code]

I tried rolling back to Jest 19 and putting the import at the end of file, didn't help.
**What could be the problem?**

[2017-05-17 16:32] blainekasten commented on #86
Could you try upgrading to 3.1.0?

[2017-05-17 16:44] andriichernenko commented on #86
I had 3.1.1, downgrading to 3.1.0 didn't fix the problem.

[2017-05-22 02:13] finnigantime opened #87 "failing test: 'gives a useful message'"
This test fails when I do `npm test` on master.

<img width="695" alt="screen shot 2017-05-21 at 7 05 01 pm" src="https://cloud.githubusercontent.com/assets/1305608/26290045/8a5efabe-3e59-11e7-9289-6ee6f3c0b061.png">

[2017-05-22 02:48] finnigantime opened #89 "printHTMLForWrapper prints deep output instead of shallow debug output for ShallowWrapper on IE 11"
This code in html.js returns wrapper.html() for shallow wrappers instead of wrapper.debug() when run on IE 11:

[code]

This is because wrapper.constructor.name is undefined on IE 11 (function.name is not supported).

Repro:
[code]

[2017-05-22 02:54] finnigantime opened #91 "console is undefined on some platforms, causing crash in html.js"
For some JavaScript environments (e.g. V8 on Android), the global console object is not defined. Referencing an undeclared variable causes a ReferenceError (at least in strict mode).

[2017-05-22 03:00] finnigantime opened #93 "jasmine-enzyme doesn't work on older versions of jasmine where jasmine.addMatchers() is undefined"
On older versions of jasmine (v1), jasmine.addMatchers() isn't defined. Matchers need to be added to each spec in a beforeEach().

[2017-05-22 14:27] #89 closed

[2017-05-22 14:28] #87 closed

[2017-05-25 12:10] #93 closed

[2017-05-25 12:11] #91 closed

[2017-05-25 12:19] blainekasten opened #97 "Fix CI Environment"
CI has been failing for a while.. needs to be fixed so we can merge with confidence.

[2017-05-25 12:24] blainekasten commented on #77
3.2.0 is out and _might_ fix this!
Please give it a try and let me know if it fixes or not

https://github.com/blainekasten/enzyme-matchers/releases/tag/v3.2.0

[2017-05-25 12:36] blainekasten commented on #97
Recent Failure:
https://circleci.com/gh/blainekasten/enzyme-matchers/170?utm_campaign=build-failed&utm_content=failing-command&utm_medium=email#tests/containers/0/actions/14

Relevant:
https://github.com/facebook/jest/issues/535

[2017-05-28 07:36] Altiano opened #98 "Add assertion to simulate shouldComponentUpdate"
Something like `expect(a).toUpdateOnProp('data')` (prop or state) would really help

[2017-05-28 14:56] blainekasten commented on #98
Whoa! I really like this idea. I wonder if we could work for state changes too? So maybe something a bit more abstract?

[2017-05-30 17:35] jfroom commented on #77
I've updated to 3.2.0, and am still encountering a similar problem.
[code]

I think the issue is because there is a root repository for dev https://github.com/blainekasten/enzyme-matchers, the `types` exist off the root https://github.com/blainekasten/enzyme-matchers/types, and then each sub-package for `enzyme-matchers`, `jasmine-enzyme`, and `jest-enzyme` in https://github.com/blainekasten/enzym

[2017-06-01 22:24] jfroom commented on #77
FYI for anyone looking to just ignore the related errors in their project (until the wonderful team here can sort things out):

Add something like this to your [`.flowconfig` ignore section](https://flow.org/en/docs/config/ignore/):
[code]

[2017-06-06 03:31] blainekasten commented on #77
@jfroom thanks for all of this info. I'm on vacaition until the 19th. I'll make sure to look into these solutions then!

[2017-06-12 16:00] juffel opened #101 "`toHaveProp()` modifies parameter value"
Strangely the [`toHaveProp`](https://github.com/blainekasten/enzyme-matchers#tohaveproppropkeystring-propvalueany) matcher seems to modify the passed array value:

[code]

I'm (apart from that happily 👍 ) using jasmine-enzyme 3.2.0 (and enzyme 2.8.2).

[2017-06-12 16:01] juffel commented on #101
I dug a bit into this, and there seems to be an issue with the [`stringify`](https://github.com/blainekasten/enzyme-matchers/blob/master/packages/enzyme-matchers/src/utils/stringify.js) function when arrays are passed.

[2017-06-18 02:34] taoliveops opened #104 "Remove Warning: ReactTestUtils has been moved to react-dom/test-utils"
After I add this line to my Jest test setup file:
`import 'jest-enzyme';`

Every time I run my tests, I got follow warning for each test case:

It seems like jest-enzyme have some old react dependence. Is it possible to remove these warnings?

"react": "15.5.3",
"enzyme": "2.8.2",
"jest-enzyme": "3.2.0",

[2017-06-18 02:44] taoliveops commented on #104
After I run the 'npm ls' to verify the dependences, it's from the types:

[code]

[2017-06-18 11:00] taoliveops commented on #104
I found the issue - I need to upgrade "react-test-render" to "react-test-renderer". Once I done it, the warning is gone :)

[2017-06-18 11:00] #104 closed

[2017-06-19 11:38] blainekasten commented on #101
ahh yikes. That's not good. Could you submit a PR to fix it?

[2017-06-19 12:41] #97 closed

[2017-06-21 17:48] blainekasten commented on #77
@jfroom @SBoudrias Can you try out 3.3.0?

[2017-06-21 17:48] blainekasten commented on #37
closed by #95

[2017-06-21 17:48] #37 closed

[2017-06-21 21:48] jfroom commented on #77
Looks like it's working!

In my project, I've updated to 3.3.0 for `enzyme-matchers` and `jest-enzyme`, removed the `.flowconfig` ignores noted previously, and now the `flow` command no longer throws any warnings/errors on these packages.

FWIW - I had to upgrade my create-react-app's `react-scripts` package to get `jest` to bump a few versions - probably because of the version required by `jest-e

[2017-06-22 08:27] pascalduez opened #107 "Flow types not packed into jest-enzyme"
Hi,

just did a fresh install of `jest-enzyme` and the `types` folder is not packed with the package, only the `lib` folder is present. Same for the `enzyme-matchers` package.

Not sure what the initial goal for 20682e14 was actually.

[2017-06-22 14:57] #77 closed

[2017-06-22 14:58] blainekasten commented on #107
It was an ignorant change. I didn't think about it's file resolution..

We just released an update `3.3.0` that seems like it's fixing flow for most people. Can you test it out?

[2017-06-22 15:24] pascalduez commented on #107
From `3.3.0` Flow won't complain on source files, but won't find any type information since the `lib` folder is compiled sources.

If you wan't to ship types with the package, `flow-copy-sources` could be a solution.

For now I'm relying on the `flow-typed` [definitions](https://github.com/flowtype/flow-typed/blob/master/definitions/npm/jest_v20.x.x/flow_v0.33.x-/jest_v20.x.x.js#L109-L129) ;)

[2017-06-23 11:33] blainekasten commented on #107
Oh awesome! I didn't know they had those definitions in `flow-typed` That's great!

But yeah, I think we should ship the `types`. It could help and just seems like the right call. Are you willing to submit a PR to implement `flow-copy-sources` into each package?

[2017-06-26 02:30] paibamboo opened #110 "index.d.ts isn't shipped with 3.3.0"
![image](https://user-images.githubusercontent.com/13611391/27522664-06cadb2c-5a52-11e7-9f1c-5056aac7eb26.png)

moved to somewhere else?

[2017-06-26 15:02] moredip commented on #101
I ran into the same issue. It looks like it's due to [this line](https://github.com/blainekasten/enzyme-matchers/blob/2f6441c33044830c8798d6e2d6c9a8f6e7063b84/packages/enzyme-matchers/src/utils/stringify.js#L10) where the array value being stringified is mutated via a `.pop`.

I'd love to submit a PR to fix this but I'm not sure I understand what's going on with that pop operation. Can you explain

[2017-06-26 15:40] blainekasten commented on #101
@moredip I frankly don't remember what I was doing there.... haha

I would say, you could probably easily TDD this. Write a test that passes in an array and ensures the array does not change.

Then, as long as none of the other tests fail I'd say we did it right

[2017-06-26 15:45] blainekasten commented on #110
Shoot. My bad, looks like this happened from #77 which helped flowtype work.

I think we just need the `.d.ts` file from `src` to end up in the `lib` folder. Can you add `--copy-files` to the `babel` build step? That should do it.

[2017-06-26 15:56] moredip commented on #101
Sounds good. Will work on getting a PR to you.

[2017-06-26 19:31] jcarlson opened #111 "`toHaveProp()` should maybe compare `undefined` values?"
Consider a test that looks something like the following:

[code]

In this case, the test passes, even though there is an obvious typo in the matcher's arguments: `.toHaveProp('name', props.nameTypo)`.

The _intent_ here is obvious: the component should have a prop called `name` with a value of `'Mr. Foobar'`. In practice, though, because of the typo, the matcher simply checked that the prop existe

[2017-06-27 16:03] blainekasten commented on #86
@andriichernenko did you figure this out? I honestly have no clue why your environment would be doing that.

[2017-06-27 16:42] andriichernenko commented on #86
@blainekasten no, I did not. I ended up not using `jest-enzyme` in my project. I guess this issue can be closed.

[2017-06-27 18:17] blainekasten commented on #86
Ah, sorry about this. Wish I could help more!

[2017-06-27 18:17] #86 closed

[2017-06-27 18:17] #101 closed

[2017-06-28 04:53] blainekasten commented on #111
That's a really good point. That looks like a bug to me. We should be able to validate this like so:

[code]

Mind submitting a PR to fix this? I would be curious if `toHaveState` and `toHaveStyle` have the same issues. If you do this could you try and make it modular to work on all 3 (assuming they are affected)

[2017-06-28 04:53] #107 closed

[2017-06-28 12:47] sfargier opened #114 "Use of jasmine matcher as value of toHaveProp()"
I am trying to update a project that uses the old 1.2.0 version of jasmine-enzyme and I encountered a breaking change that I don't see mentioned in the change-log (this is jasmine specific).
The toHaveProp() method does not work aymore when jasmine core matchers are used as value.
[code]

1.2.0 works, but 2.0.0 and 3.4.0 gives the same error:
[code]

Should this be working or did you drop support

[2017-06-28 15:27] blainekasten commented on #114
Did you update `enzyme` as well?

[2017-06-28 15:50] sfargier commented on #114
Yes, I am using enzyme 2.9.1 (latest one at the moment).

I checked the code from jasmine-enzyme before opening the issue, and I guess the change comes from using the deepEqualIdent npm module instead of the util.equals/customEqualityTesters tooling that jasmine provides to the custom matchers (this happened in 2.0.0 when the module was reorganized). I don't know if putting this behaviour back wou

[2017-06-28 16:02] blainekasten commented on #114
Ohhh, I see where the issue is now. I misunderstood it at first glance.

I am partial to jest, but this library supports jasmine and should the best it could. So I would consider this a bug and be open to a PR if we can keep parity.

[2017-06-29 16:00] sfargier commented on #114
I was hoping to work on a PR today, but things have been too busy. I haven't given up on the idea, but this will take a little time :)

[2017-07-02 12:29] michaelgmcd commented on #86
Hey @andriichernenko, I stumbled across this myself trying to use the `jest-glamor-react` package. If you want to extend expect, you must do it in the file specified by *setupTestFrameworkScriptFile* in your jest config and **not setupFiles**. i.e:
[code]

Let me know if that helps.

[2017-07-11 12:48] #110 closed

[2017-07-12 03:21] pselden opened #120 "3.5.0 on npm?"
Doesn't look like 3.5.0 got pushed to npm, was that intentional?

[2017-07-12 12:25] blainekasten commented on #120
Yeah... I'm not sure what happened. I just published now. Thanks for letting me know

[2017-07-12 12:25] #120 closed

[2017-07-12 19:23] xunnanxu opened #123 "Some modules in JS output don't seem to be correctly transpiled"
For example, the name.js file in enzyme-matchers/lib/utils is converted to

[code]

It's not a native es6 module any more so it's treated by webpack as a regular js file but notice the return statement has back-ticks which breaks our phantomjs testing setup.

[2017-07-12 19:27] blainekasten commented on #123
Is this a new issue in 3.5.0 or was it around in 3.4.0?

[2017-07-12 19:31] xunnanxu commented on #123
Hi @blainekasten I think that's a new issue. We are using 3.5.1 atm. It's brought in by `jasmine-enzyme` implicitly (we are using 2.8.1).

[2017-07-12 20:16] xunnanxu commented on #123
@blainekasten sry I copied the wrong version number. For `jasmine-enzyme` we are using `3.0.1`

[2017-07-12 23:55] ek5000 commented on #123
Ran into this as well, I think it's because the target for `babel-preset-env` is set to `node@4`, which supports backticks.

Since this library is being consumed by `jasminze-enzyme`, it seems reasonable to have no target in `babel-preset-env`, which defaults to `es2015-es${currentRelease}`

[2017-07-13 09:47] paibamboo opened #124 "Typescript can't find index.d.ts"
index.d.ts was in src folder in 3.2.0 but in 3.5.1 it's in lib folder and Typescript cannot find the definitions anymore.

Also @types/jest defines Matchers as `interface Matchers<R>` but jest-enzyme defines Matchers as `interface Matchers`. This causes Typescript to throw error `All declaration of Matchers must have identical type parameters`

[2017-07-13 11:41] blainekasten commented on #124
@paibamboo Sorry about this. I don't personally use typescript so I've been relying on community support to get this working. I want to cc some of the people who have worked on it so we can figure out what needs to be done.

@Dean177 @pascalduez @pselden

[2017-07-13 11:42] blainekasten commented on #123
@ek5000 Yeah, good call! Would you be willing to put up a PR for that and we can check it out?

[2017-07-13 14:23] blainekasten commented on #124
@paibamboo can you try `3.5.3`?

[2017-07-13 17:23] Dean177 commented on #124
I will have a look tonight and try to resolve

[2017-07-14 03:06] paibamboo commented on #124
@blainekasten index.d.tx is now found. Another part is the type def itself which this [pull request](https://github.com/blainekasten/enzyme-matchers/pull/130) should solve it.

[2017-07-14 17:49] sfargier commented on #114
Finally got time to work on this :)
PR submitted, let me know if that's fine with you.

[2017-07-19 13:20] #114 closed

[2017-07-19 15:27] #124 closed

[2017-07-19 15:27] blainekasten commented on #123
Will be releasing as soon as I can get #130 landed

[2017-07-19 15:27] #123 closed

[2017-07-20 04:18] chris-divvito opened #135 "mapWrappersHTML() throws exception when a component has object property"
Hello,

I've found that when a component has an object property, mapWrappersHTML() throws an exception like "TypeError: 'Symbol(Symbol.toPrimitive)' returned for property 'Symbol(Symbol.toPrimitive)' of object '[object Object]' is not a function"

This is because it attempts to run `${key}="${props[key]}"` and fails to interpolate the object.

This is seen, for example, when running .toBePresent()

[2017-07-20 04:41] chris-divvito commented on #135
On further inspection, this isn't a problem for any old object - this is specific to Proxy's. This is a problem if you are using identity-obj-proxy to mock, eg. Theme objects from SCSS files.

[2017-07-20 13:15] blainekasten commented on #135
If you can find a fix for Proxy's that doesn't break other tests I'd be happy to take it.

The `mapWrappersHTML` fn is really nice to properly print things in different states and trim down the output. So we want to keep it. But interested in a fix for sure!

[2017-07-21 00:58] cyberhck opened #138 "TypeScript still not bundled properly"
With new release 3.6.0, I executed:
[code]

I was hoping for it to contain the changes from #134

But it doesn't

Did we make a mistake while publishing or is it intentional?

When I do executed
[code]
It does reveal that it's using 3.6.0

[2017-07-21 15:51] blainekasten commented on #138
@cyberhck There is a decent chance I screwed up this publish.. Let me push a patch quick

[2017-07-21 15:54] blainekasten commented on #138
Updating to 3.6.1 yielded me these results on your command:

[code]

[2017-07-21 15:55] blainekasten commented on #138
Gonna close, respond here if it's still a problem

[2017-07-21 15:55] #138 closed

[2017-07-24 08:56] cyberhck commented on #138
Finally solved with this patch release :) thanks :) can you post what was the reason it wasn't bundled properly? is that a build step or something? so I can help you with that too if something happens in future :) thanks.

[2017-07-24 13:12] blainekasten commented on #138
Woo hoo! That was a long time coming.. It was a lot of things a long the way. Half the problem was in the fact that I don't use typescript so I didn't really know how to verify if a fix fixed anything.

It originally broke because we changed the way the publish command worked and didn't copy over .ts files to `lib`.

The last issue was that I didn't pull before publishing.. So I only published hav

[2017-07-25 01:43] cyberhck commented on #138
Maybe look into semantic-release? it'll release directly from travis, it'll generate changelog and most importantly it saves time to pull and make a release. Not sure how it works for a repo which has multiple packages though :) maybe give it a try?

[2017-08-02 13:09] blainekasten commented on #66
@martingordon I just tested this in latest and it seems to be working. Can you confirm it's still an issue?

[2017-08-02 14:24] blainekasten commented on #66
I'm going to close this. If you are experiencing this on latest, please respond and we'll re-open it.

[2017-08-02 14:24] #66 closed

[2017-08-02 14:41] #83 closed

[2017-08-04 12:27] martingordon commented on #66
Thanks. Haven't had a chance to test it yet, but will keep an eye out for it to see if it is still an issue once we get around to upgrading to latest.

[2017-08-09 13:55] blainekasten commented on #83
@atomanyih this should be fixed now in 3.7.0! Give it a try and let me know

[2017-08-09 13:58] #135 closed

[2017-08-17 15:07] nickmccurdy opened #145 "Improve toHaveState's support for nested objects"
1. If a component has an object key which is an object literal and you `expect(component).toHaveState('key', ...)` with another object literal (different references), the test will fail.
2. `[object Object]` strings are not very helpful for debugging.

![image](https://user-images.githubusercontent.com/927220/29419026-0110a9ec-833c-11e7-9a7b-81472e425116.png)

[2017-08-17 15:33] #111 closed

[2017-08-17 15:43] blainekasten commented on #145
This is interesting. It's pretty common in React to avoid nested state values. Have you thought about flattening your state?

[2017-08-17 16:08] nickmccurdy commented on #145
Good point. I guess this is kind of a weird use case, since I was actually using the result of `setState` to to test a utility function. I'm using Jest mocks now instead (which is cleaner in retrospect). I just found that behavior surprising.

[2017-08-17 18:39] blainekasten commented on #145
Yeah. I would have expected it to print the object better. If you want to put in a PR to use the stringify module I'd be down.

[2017-08-29 13:20] blainekasten commented on #76
Apologies, I haven't had time to dig into this. If you want to look into the code and figure out what's happening I would happily accept a PR!

[2017-09-07 00:55] masterpi314 opened #152 ".toBePresent() causes rendering of wrapped components in shallow mode"
Since it calls html(enzymeWrapper) even if it would pass otherwise, it causes failures if there's an error in the child component's render (or more likely even if you just passed mock props).  At the least it should not run this on pass, but it should probably do something other than html() for shallow renders.

https://github.com/blainekasten/enzyme-matchers/blob/7441cf5c6e4f2eb51b7f7b7fe9feef97f

[2017-09-08 20:48] mikegleasonjr opened #153 "[feature request] toHaveClass()"
For me it is really rare to check that the `className` is exactly something. Plus, the order of the classes don't matter but can make a test fail if using `toHaveClassName()`.

`toHaveClass()` would just check if a `class` is in `className`.

EDIT: right now I'm using `expect(wrapper.hasClass('foo')).toBe(true);`

[2017-09-11 02:14] darewreck54 opened #154 "Whats the difference between jest-enzyme vs installing jest & enzyme"
Hi,

I was wondering what the difference is between installing jest-enzyme vs. just installing jest and enzyme separately.

Thanks,
Derek

[2017-09-11 12:37] blainekasten commented on #154
Hey @darewreck54

`jest-enzyme` compliments `jest` + `enzyme`. To explain a little more:

`jest` is a test runner.
`enzyme` is a utility library for testing React components.

`jest-enzyme` is a set of matchers which are added to `jest` to simplify using `enzyme`.

Here is an example with and without this library.

[code]

[code]

[2017-09-11 12:38] blainekasten commented on #154
I'm going to close this issue as there isn't anything for me to action on. Feel free to keep asking questions here though!

[2017-09-11 12:38] #154 closed

[2017-09-11 12:53] blainekasten commented on #153
Hmm. Honestly, that's how I would have expected `.toHaveClassName()` to work.. I wouldn't think it has to be an exact match, but instead just that the component has that className at least.. I'd be open to a PR to fix this.

[2017-09-18 13:16] gibbok opened #155 "parameter `str`. Missing annotation"
I use the following dependencies in package.json:

When running in terminal:

`npm run flow`

I get the following error:

 17:   colorFns[color] = str => {
                         ^^^ parameter `str`. Missing annotation

Desired behavior:
Flow server should be launched.

As workaround I am currently using in file .flowconfig the following ignore rules, but I suspect a proper flow annotation shoul

[2017-09-18 13:29] blainekasten commented on #155
Thanks for the report, #151 seems like the fix. I'll ship a patch in a little bit.

[2017-09-18 13:36] blainekasten commented on #155
Try `3.8.3`

[2017-09-18 13:36] #155 closed

[2017-09-23 18:58] mockdeep opened #157 "jest-enzyme why use beforeEach?"
I was just looking over the code and was wondering why the matchers are added [inside a `beforeEach` hook](https://github.com/blainekasten/enzyme-matchers/blob/master/packages/jest-enzyme/src/index.js#L20). Doesn't this rebuild the matchers before every single test? Maybe I'm missing something, and the performance implications are probably trivial, but I think `expect.extends` should be available

[2017-09-24 04:36] blainekasten commented on #157
@mockdeep I think that's some legacy code from when this and jasmine-enzyme were the same library..

That's a really good catch and I believe you are absolutely right. Would you mind putting up a PR and testing it out to confirm?

[2017-09-24 08:11] andreysaleba commented on #145
Hey, I've added PR to support nested objects

[2017-09-25 00:13] mockdeep commented on #157
@blainekasten donezo: https://github.com/blainekasten/enzyme-matchers/pull/159

[2017-09-26 18:28] fernandopasik opened #160 "React 16 and enzyme 3 compatibility for jest-enzyme"
Hi!
[Enzyme 3](https://github.com/airbnb/enzyme/releases/tag/enzyme%403.0.0) and [React 16](https://github.com/facebook/react/releases/tag/v16.0.0) are out now, and trying to use them I'm detecting the following error on my test runs with jest:

`Cannot find module 'enzyme/build/ShallowTraversal' from 'shallow.js'`

I suspect that has something to do with enzyme-to-json being outdated as well, but

[2017-09-26 19:28] fernandopasik commented on #160
After doing an update of enzyme-to-json to v3.0, some tests run now but a lot of them are throwing this error:

[code]

[2017-09-26 20:08] blainekasten commented on #160
I've been looking at this for the past hour. It's going to take a decent amount of work as many internal things changed.. I should be able to spend a good amount of time tomorrow working on it. So hopefully it'll just take a day or two.

[2017-09-27 07:11] csvan commented on #160
+1

[2017-09-27 19:16] blainekasten commented on #160
Cutting a release in 2m.

[2017-09-27 19:16] #160 closed

[2017-09-27 19:19] #157 closed

[2017-09-27 19:19] blainekasten commented on #160
Try 4.0.0!

[2017-09-27 19:56] fernandopasik commented on #160
Thanks for the hard work @blainekasten !! An awesome library you did!!

[2017-09-27 22:36] blainekasten commented on #160
❤️

[2017-09-28 16:52] kumar303 opened #163 "toMatchElement() does not behave like matchesElement()"
I have a component that does something like this:

[code]

This test with enzyme-matchers fails:

[code]

I see:

[code]

With a vanilla Jest/enzyme assertion the test passes:

[code]

Shouldn't these both behave the same?

I'm running tests in Node with mocha. Versions:
[code]

[2017-10-03 17:22] blainekasten opened #164 "toIncludeText output does not match common style"
This is `toHaveText`

![image](https://user-images.githubusercontent.com/2916023/31138872-beb73ad0-a824-11e7-83f6-8d4a66474b39.png)

This is `toIncludeText`

![image](https://user-images.githubusercontent.com/2916023/31138884-c7b6c722-a824-11e7-924b-6ac5919c6ae7.png)

`toIncludeText` is missing the Expected/Actual verbage

[2017-10-03 17:24] blainekasten commented on #163
That's a really good question...

We use .debug() on the nodes to compare the output strings for some reason. I can't remember why we do that. It seems like the wrong idea..

I wonder if @finnigantime remembers why that approach was desired.

[2017-10-03 17:42] blainekasten opened #165 "Automatically expose React, shallow, and mount on global"
I'm looking for community feedback on this idea. There is a lot of boilerplate to writing tests. Namely in that every one for jest and enzyme requires you to write something like this:

[code]

Why do we need to explicitly do that on every file?

I'm wondering if it would be smart for this library to inject them as globals much like it injects matchers in the global space.

cc @aaronabramov, @cpoj

[2017-10-03 17:43] cpojer commented on #165
You could have jest-environment-enzyme that inherits from the jsdom one and adds globals. That way it’s opt-in.

________________________________
From: Blaine Kasten <notifications@github.com>
Sent: Tuesday, October 3, 2017 6:42:06 PM
To: blainekasten/enzyme-matchers
Cc: Christoph Nakazawa; Mention
Subject: [blainekasten/enzyme-matchers] Automatically expose React, shallow, and mount on global (#1

[2017-10-05 10:30] Vinnl opened #166 "Don't specify a version of @types/react"
I'd have submitted a PR myself, but since there's both a `package-lock.json` and a `yarn.lock`, I'm not quite sure what the correct procedure would be...

Anyway, I'm currently running into a problem where I've upgraded my dependency on `@types/react` locally, but because `jest-enzyme` depends on v15 specifically, I now have duplicate type definitions installed, and TypeScript trips about it.

I'm

[2017-10-05 16:11] blainekasten commented on #166
Hey @Vinnl

Thanks for the report! I unfortunately don't use Typescript so all of the progress in that area so far has been driven by the community. I'd like to cc a few people to get their thoughts. I'm open to trying anything.

cc @pascalduez @cyberhck @pselden @Dean177

[2017-10-05 16:12] blainekasten commented on #166
That is confusing. The ecosystem is in a weird place. I would probably prefer to just have a `yarn.lock`

[2017-10-05 16:21] pselden commented on #166
I would move it to a devDependency only and not a peerDependency, as it is not actually _required_ to use types to use this package. As a devDependency you could leave the version the same as it currently is, or just bump it to ^16.0 -- it'd just be for development/testing purposes.

[2017-10-05 17:57] blainekasten commented on #166
If it becomes a `devDependency` wouldn't it not get installed into your guys' projects? My understanding of `devDependency` is that it only is activated when you run install from enzyme-matchers package.json's root. Not your project root. Am I wrong in this?

[2017-10-05 17:59] pselden commented on #166
Correct, it would not be installed. But I don't see that as a problem since if you're using TypeScript with React you already have @types/react installed in your project.

[2017-10-05 19:56] Vinnl commented on #166
It's somewhat required if you are using TypeScript, but yes, you can expect it to be installed if you're using TypeScript and React. Another option might be [`optionalDependencies`](https://docs.npmjs.com/files/package.json#optionaldependencies), but I'm not sure if that wouldn't still result in conflicts.

[2017-10-05 19:59] pselden commented on #166
optionalDependencies do get installed as if it were a normal dependency unless you specify --no-optional (which likely no one would). They're more meant for things that could fail installing on a specific platform, but you have a backup for if they do.

Here's an example of a popular TypeScript project for React that just puts it in devDepencies: https://github.com/mobxjs/mobx-react/blob/master/pa

[2017-10-05 20:11] Vinnl commented on #166
OK, `devDependencies` sounds fine then. I tried a PR again, but a `yarn install` is failing for me unfortunately (`sh: 1: babel: not found`)...

[2017-10-09 01:14] cyberhck commented on #166
@blainekasten I don't deal with yarn.lock anymore because node 8 is minimum requirements on all our projects now, and npm 5 offers lock functionality. I'd say we can simplify this by removing either package-lock.json or yarn.lock. This way we have one single source of truth. (And it's one less dependency to work with if you decide to remove yarn).

Regarding this issue, I can't give much thoughts

[2017-10-09 14:24] blainekasten commented on #166
Sweet. So, this is probably annoying. But I want to keep the yarn.lock and npm lock. I don't feel like the community has really sorted out what the best path forward is. I think we can sort that out later and it's not going to hurt really anything for now.

It sounds like it's a good idea to move that into a devDep. Anyone want to submit a PR?

[2017-10-09 14:34] Vinnl commented on #166
@blainekasten How do you do that? If I run `yarn` it doesn't update the `package-lock.json` and if I run `npm install` it doesn't update the `yarn.lock`. What tool do you use to keep them in sync? Are they even in sync right now?

(Also: how do you install the dependencies? Is a simple `cd packages/jest-enzyme; yarn` supposed to work? Because it doesn't for me, as mentioned above...)

[2017-10-09 15:07] blainekasten commented on #166
@Vinnl I realize that. I'm saying I'm not worried right now if they are not in sync, unless you can think of a dire reason they should be?

This project is built on [lerna](https://github.com/lerna/lerna#commands).
You should install that globally and run `lerna bootstrap` from the root
it will handle everything

[2017-10-09 15:23] Vinnl commented on #166
@blainekasten Well, the entire point of those files is to make sure dependency trees are reproducible, so if they don't represent the actual dependency tree, they don't add anything and are actively confusing - so it might be better just not to check in either.

Anyway, I've created a PR that hopefully addresses the issue in the proper way: #167.

[2017-10-09 15:29] #166 closed

[2017-10-10 00:22] cyberhck commented on #166
I agree with @Vinnl here, `package-lock.json` and `yarn.lock` are meant to provide a user to get reproducible dependency tree, if both aren't in sync, we might have a problem. Maybe we can use `npm shrinkwrap` after using yarn to update `package-lock.json`??

[2017-10-17 10:29] mayacode opened #169 "TypeError: expect(...).toBePresent is not a function"
Hi,

I have an application, which bases on [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate). Now, I'm writing quite simple tests, after migration to react-router 4

[code]

here are my dependencies:

[code]
Unfortunately I'm getting this error: `TypeError: expect(...).toBePresent is not a function`. I have all new versions of packages and I'm not sure what causes this er

[2017-10-17 14:33] blainekasten commented on #169
Sorry. I think there was some confusion. Usually you don't install `enzyme-matchers` directly, but instead install the related package for your test runner. Looks like you are using jest. so you'd want to use jest-enzyme and follow the setup instructions [here](https://github.com/blainekasten/enzyme-matchers/blob/master/packages/jest-enzyme/README.md).

I'm going to close this issue as it's not a

[2017-10-17 14:33] #169 closed

[2017-10-23 08:34] cyberhck opened #170 "Cannot find module 'enzyme/build/ShallowTraversal' from 'shallow.js'"
with new react and enzyme 16 I'm getting that error. With what I could investigate, I see they removed "ShallowTraversal" file. It's being included in jest-enzyme package. Issue has been discussed at adriantoine/enzyme-to-json#63 and they've got a fix, and latest release is v3.1.3

I'm not 100% sure, but using newer build might just work. :slightly_smiling_face: let me know if you need more detail

[2017-10-23 13:15] blainekasten commented on #170
Are you using v4.x of this library? https://github.com/blainekasten/enzyme-matchers/releases

I remember this being a compat issue with v3.x and less. But 4.x should fix it.

[2017-10-24 00:35] cyberhck commented on #170
Oh, I am sooo sorry, I didn't realize I wasn't using 4.x version of this library (even though I was at release page, I didn't realize that I didn't realize I wasn't using that one), it's looks like this is fixed in v4.x sorry to bother you

[2017-10-24 00:35] #170 closed

[2017-10-24 12:46] blainekasten commented on #170
No problem!

[2017-10-24 20:36] JoshuaKGoldberg opened #171 "Allow taking in an object for toHaveStyle"
Given the following two assertions:

[code]

I'd like to test both at once with a partial match, like so:

[code]

[2017-10-25 15:24] blainekasten commented on #171
When you say partial match. Are you saying, just one of them has to pass? I like the idea of supporting the object syntax. But I don't think it should only require partial match, I think it should require everything in the object to match.

Or are you saying it doesn't have to be a mirror of the elements entire style.

So for example this should pass even though display is omitted?

[code]

[2017-10-25 15:27] JoshuaKGoldberg commented on #171
What you said. I'm not very familiar with the Jasmine terminology 😄 but that's what I meant.

[2017-10-25 15:29] blainekasten commented on #171
Ah cool. No worries! I like this idea! Would you want to put up a PR for this contribution?

[2017-10-25 15:30] JoshuaKGoldberg commented on #171
Absolutely!

[2017-10-30 22:36] enthudrives commented on #164
@blainekasten I have picked this up.

[2017-11-01 14:04] enthudrives commented on #164
@blainekasten Hello, I created a pull request for this issue. Can you please take a look?

[2017-11-01 15:50] #164 closed

[2017-11-13 16:29] franzheidl commented on #153
I use `expect(node.find('.myClass')).toBePresent();` which is _almost_ as explicit as `hasClass()`.

[2017-11-13 20:16] mikegleasonjr commented on #153
@franzheidl Thanks for another solution but it does not convey the same meaning. I wanted to know if a specific element had a class... not if any element had a class.

[2017-11-13 20:58] blainekasten commented on #153
@mikegleasonjr would you be willing to contribute a PR to add that matcher?

[2017-11-14 10:11] mikegleasonjr commented on #153
@blainekasten I will try to do it today!

[2017-11-16 21:26] aaronjensen opened #173 "param reassign in stringify.js breaks flow's experimental.const_params"
It's experimental and it's easily worked around, so do with this what you will, but in `stringify.js` there's a param reassign, so using this library on a flow enabled repo that has `experimental.const_params = true` errors with:

[code]

I've worked around this by ignoring it in my `.flowconfig`:

[code]

[2017-11-20 15:56] blainekasten commented on #173
Oh cool find! I actually didn't realize we were doing this. It should be fixed. It's a bad practice and can easily lead to bugs. Even noticed we turned off eslint for this specific line :|
https://github.com/blainekasten/enzyme-matchers/blob/master/packages/enzyme-matchers/src/utils/stringify.js#L12

Would you want to submit a PR to fix it?

[2017-11-20 17:59] #173 closed

[2017-11-29 21:03] JoshuaKGoldberg opened #176 "Better error message for toBeEmpty when passed an improper input"
[code]

It's confusing that the `toBeEmpty` assertion is exclusively for enzyme usage, and not regular arrays (as it is in other assertion libraries). The error message should reflect this.

[2017-11-29 22:02] JoshuaKGoldberg commented on #176
Come to think of it, probably all matchers.

I would be up for submitting a PR... when I have time! No ETA on that just yet. :(

[2017-11-30 12:37] blainekasten commented on #176
@JoshuaKGoldberg I'll be patient and wait for you to submit a PR! Thanks!

[2017-12-04 06:43] mockdeep commented on #145
Just ran into the same issue with `.toHaveProps`.

[2017-12-04 13:22] blainekasten commented on #145
@mockdeep what version are you on? @andreysaleba's fix should have applied globally.

[2017-12-04 18:16] mockdeep commented on #145
Ah, okay, nevermind then. I'm on version `4.0.0` at the moment.

[2017-12-08 03:02] rtymchyk commented on #152
@masterpi314 it should be using Enzyme's `debug` for shallow rendered nodes, so it wouldn't do a full render: https://github.com/blainekasten/enzyme-matchers/blob/7441cf5c6e4f2eb51b7f7b7fe9feef97fa7b8e9c/packages/enzyme-matchers/src/utils/html.js#L48

[2017-12-08 15:42] wapgear opened #177 "Typescript support"
What about typescript? Are you have plans to implement declaration for typescript, because now I cant use it with typescript, the compiler doesn't know about methods like `toHaveClassName` and shows errors.

[2017-12-08 16:46] blainekasten commented on #177
@wapgear I don't personally use typescript so its hard for me to maintain that. I usually lean on the community to maintain that part. Are you using the `jasmine-matchers`? the `jest-matchers` do have [typescript defs](https://github.com/blainekasten/enzyme-matchers/blob/master/packages/jest-enzyme/src/index.d.ts)

We probably just need to port them over to the jasmine-matchers

[2017-12-10 18:33] Lodin commented on #177
@wapgear, @blainekasten, `jasmine-matchers` has [typescript defs at DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped/tree/master/types/jasmine-enzyme), so it can be installed with:
[code]

[2017-12-19 17:07] nayomitchell opened #178 "[feature request] Extend toContainReact to be able to check for a prop or text within the component"
Let's say I have a Navigation Bar element:

`function NavBar() {
	return (
		<div>
			<ButtonWrapper />
		</div>
	)
};`

ButtonWrapper is a component that renders a normal html button element with some string of text.

I'm in a situation that I want to make sure that my NavBar contains a specific string. But due to [this issue with enzyme itself](https://github.com/airbnb/enzyme/issues/692), I can

[2017-12-28 03:58] blainekasten commented on #178
@nayomitchell how often do you run into this in your tests?

I see what you are saying and it is definitely an ugly implementation. But I'm cautious to create a method for something that is _rare_. And maybe even something that shouldn't be encouraged. I see all of the matchers in this library as encouragement to test your applications in specific ways and wouldn't want to encourage in ways that s

[2018-01-03 04:21] zwold opened #181 "Lint configuration missing"
I was setting up this project locally based on the Development section of the readme and discovered the lint command is not working. It looks like eslint-config-airbnb was removed from package.json in fbea1c9. When I add this back in, it runs but finds 4 errors. Is adding this config back the desired approach? If so, ok if I look into fixing the errors, too?

[2018-01-03 16:03] blainekasten commented on #181
@zwold good find! That looks to be a mistake. I would say you're right on point. That'd be great if you could fix the errors and add the config

[2018-01-04 15:09] codeuniquely opened #183 "message is not a function"
When  i perform a check using something like this:

[code]

and the expect fails because the className does not match what declared with  "test grid" (when i've only set test as above,  I get the somewhat cryptic message of:

*TypeError: message is not a function*

I can them look at component.html() and see what i've done wrong and correct the expect expression and then the test will pass, and en

[2018-01-04 15:18] fvicente opened #184 "4.0.2 breaks compatibility with 4.0.1 - removing properties with {undefined} value"
My package.json is using jest-enzyme: "^4.0.1", and my jest snapshots where created and committed with version 4.0.1
In another environment, I made an npm install, and because of the ^ in front of the version, it installed 4.0.2 - the problem is that the same test won't pass, because this new version excludes properties with {undefined} value.

Should not a breaking change like this one increase t

[2018-01-04 15:27] blainekasten commented on #184
You are definitely right in assuming a patch change should not break your tests.

Though I am lost on what is excluding undefined properties. Do you have any idea what change caused that?

[2018-01-04 16:16] fvicente commented on #184
Yeh, I'm looking at the commits on this project and I don't understand either. Maybe the fact of bumping enzyme-to-json from 3.0.0 to 3.3.0 ([this commit](https://github.com/blainekasten/enzyme-matchers/commit/0d8fefa3c2d89b41e3be0fa8e5f45e17feb8e876)) caused the snapshot to be generated differently.

I can try to make a minimal test case, but basically what I saw in my environment is that if you

[2018-01-08 21:56] adamchenwei opened #185 "what will be the difference between using enzyme directly in jest with import or VS using enzyme-matchers?"
I want to see if there is a real need to install this package. Do I really need enzyme-matchers for enzyme to work properly in jest? What would be the problems come up if I dont use this package?

Thanks!

[2018-01-08 21:57] adamchenwei commented on #185
more detail

[2018-01-09 14:17] blainekasten commented on #185
Hey @adamchenwei this library is not required in any way. It's just a nice add-on to make your tests more readable.

An example is it can turn this code that checks if a node is rendered:

[code]

into

[code]

Both are valid code, this library just helps simplify some of your assertions. Hope it helps you! If you use this package though, use the jest-enzyme package, not enzyme-matchers directly.

[2018-01-09 14:17] #185 closed

[2018-01-12 06:09] vitreuz opened #186 "toMatchElement not respecting Arrays"
It seems that [as per the documentation](https://github.com/blainekasten/enzyme-matchers#tomatchelementreactinstanceobject) toMatchElement is meant to match on props, however when the prop is an array it ignores the content.

Ex:
[code]
This would successfully match on:

[code]

[2018-01-12 14:30] blainekasten commented on #186
So, the logic for matching element is actually really simple. It just runs enzyme's `debug()` method and compares the strings.

I did a test and enzyme masks objects and arrays. This is unexpected, I thought it used to work..

Either way, I've got a ticket going with Enzyme to see where the fix lies: https://github.com/airbnb/enzyme/issues/1476

[2018-01-17 13:29] mmiszy commented on #163
Any news on this?

[2018-01-22 11:58] z-vr opened #187 "pretty .html() snapshot"
Hi, I thought that pretty `html()` snapshots were implemented here (https://github.com/airbnb/enzyme/issues/649), but I can't seem to get it working -- I just get a single line in my snapshots. Maybe it's because I'm using `shallow` rendering -- is it possible to implement a formatting for it as well as `mount` please?

[2018-01-24 23:30] ruyasan commented on #163
I too would like to know - having to match all props is not always ideal

[2018-01-24 23:49] finnigantime commented on #163
Hey, sorry for late reply. See more context in https://github.com/blainekasten/enzyme-matchers/pull/95. I think ignoring props is just a missing option (and should perhaps be the default option). I added the option to ignore props to enzyme's debug() in https://github.com/airbnb/enzyme/pull/961 but I guess I never came back and plumbed through the `ignoreProps` option here. So someone should be ab

[2018-01-24 23:51] finnigantime commented on #163
I cannot get to this right now, but am happy to code review if someone wants to put up a fix - should be fairly straightforward. Otherwise I can take a stab at it when I get some more time.

[2018-01-26 19:47] blainekasten commented on #187
That is a bit misleading. It's not meant to snapshot the html() output, but instead the component.

So you should just do:

[code]

[2018-01-26 19:47] #187 closed

[2018-01-26 19:51] blainekasten commented on #183
@codeuniquely is there any reason you are not using `jest-enzyme` ?

`jest-enzyme` is a wrapper around `enzyme-matchers` and properly sets up the `expect.extend` calls

[2018-01-29 07:40] dennis-tra opened #190 "toHaveStyle for React-Native"
Hey there,

I started using enzyme-matchers with `react-native` + `styled-components` recently. In `react-native` you can set the `style` prop to an array of objects instead of having just a single `style` object.  From the docs:

Since an array of styles is not handled by the `toHaveStyle` assertion and `styled-components` is (apparently) defining an array of styles by default I can't get any tes

[2018-01-29 19:52] blainekasten commented on #190
I would expect this library to work with `react-native`. Definitely would appreciate a PR if you could do it!

[2018-01-29 19:54] finnigantime commented on #190
Yes, we had success using this library with a custom react renderer based off of react-native renderer.

[2018-01-29 20:05] #163 closed

[2018-02-01 20:52] dennis-tra commented on #190
@blainekasten alright. I'll hand in my PR over the weekend ;)

[2018-02-05 16:16] #190 closed

[2018-02-05 16:24] blainekasten commented on #184
I'm going to close because this hasn't came up by other people. Sorry about any unexpected problems! If this comes up for anyone else, please raise an issue or comment here!

[2018-02-05 16:24] #184 closed

[2018-02-05 16:38] blainekasten commented on #183
@codeuniquely I'm going to close this for now. I believe the problem is that you are not using the test-runner libs. If you have any further questions or concerns please comment here and we can discuss.

[2018-02-05 16:38] #183 closed

[2018-02-05 16:39] blainekasten commented on #178
I'm going to close this unless there is more requests for this feature.

[2018-02-05 16:39] #178 closed

[2018-02-05 16:40] blainekasten commented on #181
This was fixed!

[2018-02-05 16:40] #181 closed

[2018-02-05 16:40] #177 closed

[2018-02-05 16:40] blainekasten commented on #177
Thanks for letting me know @Lodin. If you want, it might be nice to have that noted in the [README](https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/jasmine-enzyme/README.md)

[2018-02-09 19:25] JoshuaKGoldberg opened #198 "TypeError: Cannot convert a Symbol value to a string for JSX fragments"
Given this test code:

[code]

[code]

As with my other two issues, I'd be up for sending a PR, but it's been 3 months since those were filed and I still haven't gotten around to it.

[2018-02-09 20:37] blainekasten commented on #198
@JoshuaKGoldberg This is a problem with Enzyme and Fragments. https://github.com/airbnb/enzyme/issues/1213

I'm going to close this as there is nothing we can do here.

[2018-02-09 20:37] #198 closed

[2018-02-14 22:27] nbkhope opened #200 "[jest-enzyme] Is there a matcher that verifies presence of exactly one component, given its name as string?"
Using `.toBePresent()` makes sure at least one component exists. However, is there a specific matcher to check if exactly one is present, given its display name? As an example:

[code]

I also looked into `toContainReact()`, but using it requires me importing the component and using it instead of just using its display name as a string.

[2018-02-20 00:32] Xesenix opened #201 "Contradicting test fail report for toHaveText jasmine"
I'm running this test:
[code]
on this component:
[code]
end getting this error report:
[code]
Lines 2 and 3 have contradicting content i would expect something like this:
[code]

[2018-03-01 18:30] #176 closed

[2018-03-01 18:30] blainekasten commented on #176
@JoshuaKGoldberg I had some time today and Implemented this. Thanks for raising it though!

[2018-03-01 18:32] blainekasten commented on #186
I put up a PR in enzyme for this. So hopefully this will get fixed

[2018-03-01 20:20] blainekasten commented on #153
@mikegleasonjr I was just looking into this. And I'm fairly certain this is the existing behavior of `toHaveClassName`. Can you write up an example where this is not as expected?

Specificially I'm looking at this test that is checking for one class on a node that has 2 classes.

https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/__tests__/toHaveC

[2018-03-01 21:01] JoshuaKGoldberg commented on #176
Whoohoo!

[2018-03-02 20:24] blainekasten commented on #171
@JoshuaKGoldberg I took care of this one too. Expect a new major next week sometime!

[2018-03-02 20:24] #171 closed

[2018-03-02 20:25] blainekasten commented on #145
This has been fixed

[2018-03-02 20:25] #145 closed

[2018-03-02 20:26] blainekasten commented on #153
I'm going to close this. Let me know if it's still an issue and we can reopen it!

[2018-03-02 20:26] #153 closed

[2018-03-02 21:10] blainekasten commented on #152
@masterpi314 are you on latest? Can you make sure you are and confirm this? Maybe provide a minimal reproducible test?

[2018-03-02 21:13] blainekasten commented on #200
@nbkhope There isn't anything right now. I'm trying to think through this a bit more abstractly to see if there is a smart solution... I don't like the idea of creating a method that specifically checks for 1. And I'm not sure if it's common enough to check the literal length enough to warrant it.

It's not a hard add, but it feels a bit unnecassary. How often do you find yourself asserting an exa

[2018-03-02 21:13] blainekasten commented on #201
ha, yeah that's dumb. Probably an easy fix. I'll look into it.

[2018-03-03 13:53] Xesenix commented on #201
@blainekasten I have made some fast check but couldn't find right hook point to run it instead of current, but im beginner at writing webpack plugins so maybe you will have more luck.

[2018-03-05 17:01] tristan-shelton opened #207 "toExist() gone?"
I just installed `jest-enzyme@4.2.0`, followed the setup instructions and tried to write a simple test: `expect(wrapper.find('button')).toExist()` which failed claiming that `expect(...).toExist is not a function`. Naturally I assumed I had set it up incorrectly, but after spending the better part of an hour trying to figure out why I finally checked what `matchers` actually was in `jest-enzyme/li

[2018-03-05 17:20] SimenB commented on #207
See https://github.com/FormidableLabs/enzyme-matchers/pull/205

[2018-03-05 20:25] blainekasten commented on #207
@tristan-shelton Hey! Sorry bad timing. Master isn't the latest published yet. I'm preparing a 5.0 release in the next few days. This is the docs for the latest publish https://github.com/FormidableLabs/enzyme-matchers/commit/a61e606ff72b41ac7163615575c3bcee321bda96

[2018-03-05 20:25] #207 closed

[2018-03-06 12:04] pascalduez opened #209 "`toBeChecked` should not fail on undefined or null props"
Hi,

See: https://codesandbox.io/s/lx42p5m1w9

[code]

Fails
[code]
Pass
[code]

Still, I feel the matcher should not fail this way. It's quite a common (bad?) pattern to rely on undefined or null props. It's just forwarding.

[2018-03-06 15:02] tristan-shelton commented on #207
Ah! Good to know. Thanks for the clarification!

[2018-03-06 19:21] #209 closed

[2018-03-06 19:21] #165 closed

[2018-03-06 19:21] blainekasten commented on #165
@evocateur good call. I did it! `jest-environment-enzyme` and `eslint-config-jest-enzyme`

[2018-03-06 19:40] evocateur commented on #165
@blainekasten Awesome, thanks!

[2018-03-07 18:38] MatthewCallis opened #217 "Installing v5.0.1-v5.0.3 throws warnings/errors for uninstalled peer dependencies"
After upgrading to v5.0.1 I am getting several warning causes `npm ls` to fail. I am on React v16.2.0 and Jest v22.4.2.

After `npm install`:
[code]

After `npm ls`:
[code]

[2018-03-07 18:46] blainekasten commented on #217
ah. freaking lame :(

I guess we'll have to make the environment have an unlisted dep on the adapters. and throw when not installed.

[2018-03-07 19:31] MatthewCallis commented on #217
I've  updated to v5.0.2 and run into the same issue:

[code]

[2018-03-07 19:55] ryan-roemer commented on #217
Probably the best move as they're separately named, can't really do a peerDeps semver thing. But, will conveniently avoid installing all the ones you're *not* using.

[2018-03-07 20:52] fernandopasik opened #219 "Flow error on missing import type"
There's a flow error here:

[code]

[2018-03-07 20:52] fernandopasik commented on #219
I can do a PR if it's ok

[2018-03-07 21:38] fernandopasik commented on #217
Wouldn't it be a good idea to make the enzyme adapters peer dependencies and make the user include the corresponding one?

[2018-03-07 23:26] ryan-roemer commented on #217
Making the enzyme adapters peer dependencies means that we'll have lots of peers that aren't required -- the vastly typical case I assume is a project uses exactly **one** adapter. And since the adapters are named with versions like `enzyme-adapter-react-16`, we can't do something like:

[code]

[2018-03-08 11:40] pascalduez commented on #217
`optionalDependencies` maybe? Even if it's not really optional... :\

[2018-03-08 13:35] #219 closed

[2018-03-08 13:38] blainekasten commented on #217
`optionalDependencies` wouldn't actually _do_ anything for us. If you read the docs for it it still requires us to manually try and catch.

https://docs.npmjs.com/files/package.json#optionaldependencies

I'll try and get a PR up for this today and release a new version. It'll have to be a major since it requires work to update :(

[2018-03-08 19:10] medington opened #222 "[jasmine-enzymye]: Matcher calls generate runtime errors in Typescript project"
# Description
After installing the `jasmine-enzyme` module and `@types/jasmine-enzyme` into an existing
project using Karma I'm running in to the following error when the tests are run:

![image](https://user-images.githubusercontent.com/2753206/37170351-77bf0bce-22bf-11e8-80a0-c20b753914ad.png)

Here is the stack in Chrome Dev Tools:

![image](https://user-images.githubusercontent.com/2753206/371

[2018-03-08 19:54] medington commented on #222
This may not be related, but when I setup the project I was initially getting an error on an import statement in the test when using the  the default `tsconfig.json` with the `"esModuleInterop": true ` option enabled.

```import * as Adapter from "enzyme-adapter-react-16";```

searching on that error led me to this Typescript issue: [--esModuleInterop changes meaning of declaration](https://github

[2018-03-12 06:47] VishalGulati commented on #217
@blainekasten I am also facing the same issue. I use below config:

    "react": "^15.1.0",
    "enzyme": "^3.2.0",
    "react-addons-test-utils": "^15.3.1",
    "react-dom": "^15.1.0",

And I get below errors:

[code]

I see in the node_modules/react/package.json that the version installed is 15.6.2 wereas I specifically installed 15.1 as prod dependency.

[2018-03-12 12:36] blainekasten commented on #217
@VishalGulati I haven't fixed this yet

[2018-03-13 03:45] VishalGulati commented on #217
@blainekasten Ok, thanks for your response. I will be following this chain for updates on this.

[2018-03-13 12:14] blainekasten commented on #222
That error in the last comment means you tried to pass a not-enzyme object to an enzyme-matcher assertion.

Something like `expect({foo: 'bar'}).toHaveState('foo', 'bar)` would throw an error like that. What is happening  in your `src/index.spec.tsx:57` ?

[2018-03-13 12:59] blainekasten commented on #201
@Xesenix what version are you on? I just tested this and didn't get a failure. It passed with the same component and assertion

[2018-03-13 13:04] #217 closed

[2018-03-13 13:08] #201 closed

[2018-03-13 14:53] tonyhallett opened #227 "Documentation needs to change after recent commit"
[jest-environment-enzyme readme](https://github.com/FormidableLabs/enzyme-matchers/tree/master/packages/jest-environment-enzyme#readme) states that 'With this library, you don't need to have your app install enzyme, or an enzyme-adapter.  We'll take care of it for you! ".  This [commit](https://github.com/FormidableLabs/enzyme-matchers/commit/10bfa16d488a24a9dd28472e308fd37b5ddcb332) has removed a

[2018-03-13 15:19] blainekasten commented on #227
Ah yeah. 6.0.0 changed that and I forgot about the docs. Do you want to submit a PR to update that?

[2018-03-13 15:20] blainekasten commented on #217
This is now fixed in 6.0.0

On Mon, Mar 12, 2018 at 10:45 PM, Vishal Gulati <notifications@github.com>
wrote:

[2018-03-13 16:10] medington commented on #222
Hi @blainekasten thanks for the message. There is no line 57 in the file, I believe that's number corresponds to a file output by webpack. The test is as simple as I could make it, the file is:

https://github.com/medington/jasmine-enzyme-ts/blob/master/src/index.spec.tsx

It's the original issue I'm more concerned with getting resolved though. That one prevents me from using the enzyme matchers w

[2018-03-13 16:15] tonyhallett commented on #227
@blainekasten Apologies but I am really busy at the moment so it might be a while before I do it.  Probably best if you assign it to someone.

[2018-03-13 16:42] blainekasten commented on #222
@medington I'll try to be as helpful as I can but I don't use jasmine or ts in my day job. Does this comment and export give you any guidance?

https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/jasmine-enzyme/src/index.js#L74-L80

[2018-03-13 17:16] ryan-roemer commented on #222
@medington -- I cloned your repo and straight up `master` works on my machine with:

[code]

I made this modification because I think it's closer to what you want:

[code]

And that also passes.

Also, side note -- is `"cheap-module-eval-source-map"` recommended in Karma tests? Source maps are notoriously fickle, and that one in particular seems weird to place in a test because _real code_ doesn't

[2018-03-13 17:26] medington commented on #222
@blainekasten Thanks. I got my test to work. Your tip about the error led me back to play with it some more and as I suspected, the way the adapter is being imported is a factor in the original error message I was seeing. Your tip about the 2nd error I posted was because my code was incorrect:

[code]

The last line should have been just `expect(hello)` and not `expect(hello.text())`. However I wa

[2018-03-13 17:30] ryan-roemer commented on #222
@medington -- actually, I just tried:

[code]

and that worked fine too. Are there any problems import-wise still on your end, or just with the assertions/substantive code at this point?

[2018-03-13 20:22] medington commented on #222
Hi @ryan-roemer - Thank you very much for looking into this issue!

That's because I had just pushed changes to fix it. If you checkout the "failure" tag or clone that directly it will fail (I updated my steps to reproduce to indicate this).

Just reverting the import to:

```import Adapter from "enzyme-adapter-react-16";```

at the head of master will also work because the tsconfig.json entry is

[2018-03-14 12:51] nbarron16 opened #228 "README typos under toMatchElement()"
In the README, under the **toMatchElement()** section, it says 'Ways to use this API...'

expect().**toMatchSelector**(&lt;Foo /&gt;);
expect().**toMatchSelector**(&lt;Foo /&gt;, { ignoreProps: false });

It appears those should be:  expect().**toMatchElement**(...

[2018-03-16 01:57] blainekasten opened #230 "Matcher wanted: toHaveBeenCalledWhenSimulated, toHaveBeenCalledWithWhenSimulated"
API:
[code]

Must see if this api works in both:

[ ] - jest
[ ] - jasmine

[2018-04-07 21:31] Jamamuuga opened #232 "spec file support for eslint-config-jest-enzyme"
Since jest also supports spec instead of test in filenames to support a BDD & not just TDD mind frame, eslint-config-jest-enzyme should as well. I am willing to do it myself make a pull request if someone wants.

[2018-04-07 22:19] Jamamuuga opened #233 "Forked jasmine fixture filename typo (Is it old copy?)."
In packages/jasmine-enzyme/spec/fixtures There is both a "toHaveState.fixture.js" and a "toHaveState.fixture.". The latter has a truncated filename & cloning the repo with git cli on git bash on windows (not windows subsystem for linux) or github desktop, gets the final dot truncated from the filename. Trying to clone the repo with gitkraken on windows gives an error. The proper file seems to be n

[2018-04-10 04:03] medington commented on #222
This issue should probably be closed. If there is any change to be made it's to the documentation for the Jasmine enzyme docs.

[2018-04-10 04:03] #222 closed

[2018-04-12 12:13] #227 closed

[2018-04-12 12:13] #228 closed

[2018-04-12 12:15] blainekasten commented on #200
closing due to unresponsiveness for now. Feel free to respond and start the discussion more and we can reopen if necassary.

[2018-04-12 12:15] #200 closed

[2018-04-23 10:14] Sly321 opened #235 "Support for containsMatchingElement (jest-enzyme)"
Would like to get Support for this enzyme Matcher in jest. I will try to start a pull request when i find the time.

[2018-04-29 10:14] adrian-moisa commented on #177
The movement towards typescript is growing. I am using typescript + react. Unfortunately, I cannot trade-off typescript for flow. It is such a pity that I cannot use the enzyme matchers in my current environment. I bet that writing the type definitions will bring more people to this project.

[2018-04-29 11:07] pascalduez commented on #177
@adrian-moisa As you can read in this thread there are indeed typings available, both in the definitely typed repo (maybe outdated) and in some of the packages here. Something's not working properly or missing?

[2018-04-30 11:59] #232 closed

[2018-04-30 12:46] xml opened #236 "Improve Getting Started Documentation"
Hi! First, many thanks for Formidable for providing such an amazing suite of tools for Jest and Enzyme!

There are 5 different sub-packages contained within this main repo. But, usage pattern is very unclear. In fact, this repo has no installation instructions at all, and no link to a docs website.

- How should I ideally install them? Just using this main monorepo?
  - That's what it implies in t

[2018-04-30 15:30] blainekasten commented on #236
@xml that raises a really good point. We recently wrote a [blog post](http://formidable.com/blog/2018/assertions-and-testing-with-enzyme-matchers-6/) on it, but that's not the most helpful when you come here.

I'm going to mark this ticket as a TODO to improve our readme's because it is pretty unhelpful, I agree.

[2018-04-30 15:31] blainekasten commented on #236
Did you want direct answers to your questions now to help you move forward? That blog might help clarify some things.

[2018-04-30 15:35] xml commented on #236
Well, I read that blog post, and for now, I INSTALLED ALL THE THINGS. :-) But, I still can't say I still feel confident that I understand them all.

[2018-05-08 21:32] nulliel commented on #177
@adrian-moisa, @pascalduez, @blainekasten

I just came across this issue. From my understanding TypeScript will only automatically import typings from `./node_modules/@types`. This means that the `./node_modules/jest-enzyme/lib/index.d.ts` will not be used automatically.

There are three remedies to this:

1. Update the `@types/jest-enzyme` package to point to up to the up-to-date definitions.
2.

[2018-05-08 22:53] pascalduez commented on #177
Even with [`types: index.d.ts` in package.json](https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/jest-enzyme/package.json#L24) ?

I'm not a TS user so can't provide much assertion here.

[2018-05-08 23:26] nulliel commented on #177
From my understanding the `types` key just states that the package has a typings file if it is not included in the root directory.

Types are loaded when imported. `typeRoots` is used for auto loading types, which is useful for global or dynamically loaded modules.

[2018-05-09 15:36] cyostephen commented on #177
@Lodin I think you've misunderstood. Defining `types` and `typeRoots` in `tsconfig.json` is for automatic inclusion of type files. By default this only points to the \@types folder, so all \@types files will be included.

When a project defines its own `types` key in its `package.json` it's saying "here are my types, but I'm a module so you'll need to include me". This is why the error goes away w

[2018-05-09 15:47] nulliel commented on #177
@Lodin I think you’ve misunderstood. Defining types and typeRoots in tsconfig.json is for automatic inclusion of type files. By default this only points to the @types folder, so all @types files will be included.

When a project defines its own types key in its package.json it’s saying “here are my types, but I’m a module so you’ll need to include me”. This is why the error goes away when you incl

[2018-05-12 11:41] Lodin commented on #177
@nulliel Oh I think I've got your position. I suppose you want to install `jest-enzyme` using setup file of Jest or someting like this, correct? I used `jest-enzyme` in [following way](https://github.com/Lodin/react-vtree/blob/master/__tests__/Tree.spec.tsx#L1) and didn't have any problems with typings. But I still think that option 3 from your post is better than publishing typings to the `@test`

[2018-06-19 00:34] brennancheung opened #241 "toMatchElement does not allow matching only some fields"
I see there is a closed issue #163.  It works around the issue but it does not look like it fully solves problem.  I'm opening this one to be more specific and provide a test case that wrongly fails.

Enzyme's `matchesElement` only matches the props that the user supplies.  If there are additional props that aren't specified in the match it still passes.

However, `toMatchElement` functions differ

[2018-07-08 04:28] wsmd commented on #177
I have had a hard time figuring out how to get around the typescript compiler complaining about the `enzyme-matchers` methods not existing on the `Matchers` interface of Jest.

![screen shot 2018-07-08 at 12 06 51 am](https://user-images.githubusercontent.com/2100222/42416637-e41f0ea8-8242-11e8-8c0c-14e9ee757b14.png)

[code]

While adding ` import "jest-enzyme"` manually to your test files solves

[2018-07-09 14:34] Piioo opened #244 "Question: node_modules folder in other place"
I use the .yarnrc file to specify where the node_modules folder is located. I don't have to know where the place is, yarn knows.

How do I have to specify the **setupTestFrameworkScriptFile** in the package.json?

[2018-07-09 14:57] pascalduez commented on #244
Hi,

`setupTestFrameworkScriptFile: 'jest-enzyme'` is enough.

[2018-07-09 15:23] Piioo commented on #244
Yes this is working fine, when the node_modules folder is in the project **\<rootDir\>/node_modules/....**, but when it is placed somewhere else I got:

[code]

[2018-07-12 16:54] astorije opened #246 "Ignore whitespaces between tags by toHaveHTML"
At the moment, one has to write:

[code]

It would be really nice if this could be expanded in a more readable form and let the assertion ignore the blanks between tags:

[code]

I have this change locally and it works well, haven't noticed any downsides so far, so happy to turn it into a PR if you are open to that.

(I cannot use something like:
[code]
because automated formatters such as [Pretti

[2018-07-18 16:57] machineghost opened #247 "Can't Find Documentation For Jest Matchers"
The Jest-Enzyme readme doesn't list any of the library's matchers anywhere, it only explains how to set it up.  Being able to set up a library is great, but it's also important that people understand how to use it ;)

I realize the matchers are documented on the main readme, but if you find the jest-enzyme readme from Google it'd be helpful if it at least included a link back to the main readme wi

[2018-07-18 17:08] machineghost opened #248 "Why Use jest-environment-enzyme?"
The jest-environment-enzyme readme explains how to install the module, but not *why* anyone would want to.  I found https://github.com/FormidableLabs/enzyme-matchers/pull/208, which provides the following:

But out of context that doesn't make a lot of sense.  Ok, I don't have to configure my Enzyme adapter ... except I still do inside the `jest-environment-enzyme` config, so the module hasn't eli

[2018-08-02 04:07] blainekasten commented on #248
If you don't find it useful, that's cool. If you want to improve the docs, that'd be cooler. Would love a PR. Probably would have taken about the same amount of time this issue took.

[2018-08-02 04:07] #248 closed

[2018-08-02 04:08] blainekasten commented on #247
Dupe of #236

[2018-08-02 04:08] #247 closed

[2018-08-02 04:09] blainekasten commented on #246
I think this would be a great addition! Would love to see the PR

[2018-08-02 18:08] machineghost commented on #248
How can I improve the docs if I don't know the answer to the question?  You know the reason why your library is useful: the entire point of the ticket was that I don't.

[2018-08-02 19:47] astorije commented on #246
Awesome, thanks @blainekasten, I did this in #250!

[2018-08-03 04:13] #246 closed

[2018-08-10 11:56] disintegrator opened #252 "jest-enzyme typescript declaration no longer working in 6.0.3"
cc @astorije

As of 6.0.3, I started getting compile errors

[code]

It happens due to #245 which adds an import statement to index.d.ts. This turns index.d.ts into a regular module and breaks the ambient declaration of the jest namespace.

See: https://github.com/Microsoft/TypeScript/issues/5506#issuecomment-153254151

I modified the declaration file to look like this:

[code]
... and things are

[2018-08-10 23:53] LandonSchropp opened #253 "toMatchSelector behaves unexpectedly"
I'm trying to match an attribute selector in Jest, but the `toMatchSelector` doesn't seem to be working properly. Here's a simple example:

[code]

When running this test, I get the following error:

[code]

I can get it to work by calling `find` on the wrapper. However, this is unexpected to me since the `Title` component directly returns the DOM element. Am I missing something in how I understan

[2018-08-15 10:31] gerardmrk commented on #252
Can confirm am also getting a whole bunch of these errors.
[code]

[2018-08-16 10:16] nickpapasavvas commented on #252
I have also the same problem. I tried version 6.0.2 and 6.0.1 but still get these errors. I also tried  importing `import "jest-enzyme"` as it is suggested here: https://github.com/FormidableLabs/enzyme-matchers/issues/177#issuecomment-403261476 without success.

[2018-08-23 23:03] heathzipongo opened #256 ".toExist() fails to work on a wrapper around a Fragment"
I have a react component that renders a top-level Fragment.
[code]

When I shallow render the component and check `.toExist()` on the wrapper I receive the following error:
[code]

[code]

[2018-08-24 15:01] astorije commented on #252
Sorry I broke the matchers! 🙏🙏
I can confirm that it also broke on our end, and the analysis above makes sense. Thanks for catching this and thoroughly looking into it!

[2018-08-26 01:45] mockdeep commented on #252
Just ran into this, too. Is there any workaround until #255 gets merged?

[2018-08-26 03:54] blainekasten commented on #252
I’ll do a release first thing Monday
On Sat, Aug 25, 2018 at 8:45 PM Robert Fletcher <notifications@github.com>
wrote:

[2018-08-27 15:38] #252 closed

[2018-08-28 02:41] blainekasten commented on #256
Interesting, but not wholly surprising. Are you interested in contributing a fix potentially?

[2018-08-28 02:43] blainekasten commented on #253
This does look peculiar. Make sure you're on the latest versions of my libs and enzyme.

If it is a bug, I believe it'd be on the enzyme side as the `toMatchSelector` api simply calls enzyme's `.is()` api

https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/toMatchSelector.js#L18

[2018-08-28 02:53] blainekasten commented on #241
sounds like a bug, interested in diving in and contributing a fix?

[2018-08-28 02:54] blainekasten commented on #233
Sounds like a nice cleanup! Are you interested in doing this for us?

[2018-08-28 02:55] blainekasten commented on #235
Can you explain what you are expecting/wanting a bit more?

[2018-08-28 07:27] Sly321 commented on #235
Pretty sure my old me meant “containsReact”

Can be closed, sry! 😅

[2018-08-28 07:27] #235 closed

[2018-08-29 03:33] mockdeep commented on #252
Hmm, I'm still seeing this issue after upgrading to `6.0.4`:

[code]

I tried downgrading to `5.x`, but it happens there, too. Any ideas what I might be missing?

[2018-08-29 13:12] blainekasten commented on #252
that type is defined. https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/jest-enzyme/src/index.d.ts#L12

I would assume that your setup has an issue loading jest-enzyme types.

[2018-08-30 03:03] mockdeep commented on #252
I've been gradually converting a codebase to TypeScript and turns out I needed to convert the file where `'jest-enzyme'` was imported as well in order for it to register. Works now!

[2018-08-30 16:05] lostfictions opened #258 "Do I have to explicitly import the TypeScript definitions?"
Hey there -- I noticed the `jest-enzyme` and `jest-environment-enzyme` packages both supply TypeScript definitions for augmenting the Jest matchers and setting up the global namespace, respectively. That's great!

However, I only seem to be able to get them to work if I explicitly include them in my `tsconfig.json` file, like this:
[code]

Is this how I'm supposed to be doing things?

[2018-08-30 16:14] blainekasten commented on #258
Unfortunately, I'm not a typescripter. So i'm going to cc some people who have helped get the types in here and maybe they can help!

Calling all typescripters! @vkrol @astorije @cyberhck @pascalduez

[2018-08-30 19:00] lostfictions commented on #258
My hunch is that because the types are defined within the package proper rather than published as their own `@types` package, TypeScript doesn't look for them automatically -- so even though they're global augmentations they don't get pulled in unless another piece of code requires them (or they're explicitly included in compilation in `tsconfig.json`, as I did above).

That means that this sugges

[2018-09-02 13:05] cyberhck commented on #258
yes, we also do what @lostfictions mentioned because we have special matchers as well :smile: when we simply do a `import 'jest-enzyme'` it simply works though, I didn't face any problems which was asked. I'll also link @paibamboo and see if I missed something.

[2018-09-04 21:30] GreenGremlin opened #260 "Add support for containsMatchingElement"
A common use case with Enzyme is to test that a wrapper contains an element that matches an enzyme selector. This can be done manually, using [`containsMatchingElement`](https://airbnb.io/enzyme/docs/api/ShallowWrapper/containsMatchingElement.html), but this does not produce very readable errors.

A matcher should be created that replicates the `containsMatchingElement` behavior.

[code]

This pro

[2018-09-04 21:30] GreenGremlin commented on #260
If there is support for this, I can take a stab at the implementation.

[2018-09-04 21:48] GreenGremlin commented on #260
Apparently `containsAllMatchingElements` and `containsAnyMatchingElements` expect an array React elements, which would make them more similar to `toContainReact` than `toContainMatchingElement`.

[2018-09-05 08:37] jalooc opened #261 "Cannot use custom serializer with this library"
When trying to use a custom serializer like this:
[code]
[code]

my wrappers don't get serialized by it, but by the serializer used in `jest-enzyme` instead (probably here: https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/jest-enzyme/src/index.js#L22). Is it possible to extend `jest-enzyme` so it accepted serialization options (would it be even possible without sacrificing th

[2018-09-05 17:53] GreenGremlin commented on #260
Another use case to consider would be matching a given selector `n` times.

[code]

Which produce the failure, "Expected 1 to be 4."

[code]

Which could produce a failure like, "Expected <MyContainer /> to contain 4 elements matching selector '.containedItem' but only found 1."

[2018-09-13 22:08] GreenGremlin commented on #260
I'd love to contribute on this, but I'd really like to get a :thumbsup: before doing so.

[2018-09-18 20:01] blainekasten commented on #260
Honestly, I really love this API. It's sort of what I always wanted. Green light green light! make it happen!

[2018-09-19 07:34] GreenGremlin commented on #260
Done #262

[2018-09-20 18:46] blainekasten commented on #261
Is there any reason you specifically want the deep mode? imo the default behavior is better than the deep or shallow mode.

Because the default behavior is basically the deep mode, with a wrapper of the actual component, which can help for context.

[2018-09-20 18:47] blainekasten commented on #258
Gonna close this as it seems to be solvable in user land.

[2018-09-20 18:47] #258 closed

[2018-09-20 18:48] blainekasten commented on #253
Gonna close due to lack of response. If you are able to test this and get back to me please do respond though and we can dive into it further.

[2018-09-20 18:48] #253 closed

[2018-09-20 18:57] #260 closed

[2018-09-20 20:04] #186 closed

[2018-09-20 21:13] dammo001 opened #269 "jest-enzyme specifying bad version for jest-environment-enzyme"
jest-enzyme is specifying version `^6.1.1` for jest-environment-enzyme dependency, but https://www.npmjs.com/package/jest-environment-enzyme only has up to `6.1.0`, causing npm install to fail.

[2018-09-20 21:45] brneto commented on #248
@machineghost, I used to write into my global, imports like `@babel/polyfill` together with the configuration of  Enzyme adapters. Using this `jest-environment-enzyme` where I should to that? Only in each test file?

[2018-09-21 03:42] anied commented on #269
Worth noting that [somebody already made a pull request to resolve this issue](https://github.com/FormidableLabs/enzyme-matchers/pull/270).  Fingers-crossed that that gets merged shortly...

[2018-09-21 03:49] blainekasten commented on #248
Why do you need to import babel polyfill? What are you polyfilling that your native env doesn't support?

[2018-09-21 03:55] #256 closed

[2018-09-21 03:56] blainekasten commented on #256
I added tests to the code base. This is working fine with updated enzyme and react. Can you make sure you are using latest enzyme and react?

[2018-09-21 04:05] blainekasten commented on #269
Well. This is really weird. I don't know yet how this happened. I'll dig in tomorrow.

For now I would pin `"enzyme-matchers": "6.0.5"`

[2018-09-21 11:11] brneto commented on #248
@blainekasten You right, in fact, I don't need babel polyfill anymore, because `flat-map` and `match-all` was removed from babel polyfill, but I still need import `flat-map` and `match-all` polyfills. So, removing the babel polyfill, that's what I need to from now on using jest-environment-enzyme?

[2018-09-21 12:39] blainekasten commented on #269
6.1.1 is now published. Hopefully that fixes things... sorry for the snafu

[2018-09-21 12:39] #269 closed

[2018-09-21 14:08] pascalduez opened #273 "Flow error after 6.1.1 update"
[code]

[2018-09-21 14:42] pascalduez commented on #273
Looks like the lib wasn't built, the prepublish hook didn't work as expected or whatever...
So this needs a new release.

[2018-09-21 14:53] blainekasten commented on #273
Oof. I'm just gonna try to do a whole new patch bump and see if that fixes things..

[2018-09-21 14:59] blainekasten commented on #273
try 6.1.2, does it fix it?

[2018-09-21 15:26] blainekasten commented on #273
sigh of relief, thank goodness. I'm not sure how this release became so rough. Thanks for the help

[2018-09-22 12:32] jalooc commented on #261
The reason I needed the deep mode was for the serializer to output the rendered html tags of the whole component tree, omitting the implementation details like component names, props etc. that were included in the default mode.

I dealt with in another way: by using `render()` instead of `mount()` (which after all appeared more logical). So what I wrote in the issue is not needed by me in this par

[2018-09-28 18:44] astorije opened #276 "toContainMatchingElement fails when given a component name, while toContainExactlyOneMatchingElement and toContainMatchingElements pass"
Given the following test:

[code]

The failure reads:

[code]

Shouldn't `toContainMatchingElement` work similarly as the other matchers?

[2018-10-08 13:19] #152 closed

[2018-10-08 13:40] #41 closed

[2018-10-08 13:46] #233 closed

[2018-10-08 13:59] blainekasten commented on #76
Dug into this. Pretty sure there isn't an issue here. I tried to look at your repo, but looks like you deleted it. I'm going to close this for now. If you can help me dive into it sometime I'd love to figure out what's going on.

[2018-10-08 13:59] #76 closed

[2018-10-08 15:01] blainekasten commented on #236
Fixed by #279

[2018-10-08 15:01] #236 closed

[2018-10-12 18:38] LandonSchropp opened #281 "toBeEmptyRender Doesn't Work for Nested Components"
I have two components, one nested inside the other:

[code]

I'm trying to assert that the outer element results in a `null` render:

[code]

However, this test fails with the following error:'

[code]

[2018-10-12 18:56] LandonSchropp commented on #281
I dug into this a bit more and I think the problem is in Enzyme (airbnb/enzyme#1866). I'm going to close this here.

[2018-10-12 18:56] #281 closed

[2018-10-31 20:10] shawyu commented on #276
@astorije see if #282 solved your issue

[2018-11-02 16:42] bschlenk opened #283 "jest-environment-enzyme index.d.ts should include global React"
The included index.d.ts file should also include the global React instance. Without it, TypeScript complains that `'React' refers to a UMD global, but the current file is a module. Consider adding an import instead.`. Then I have to manually `import * as React from 'react';` to silence the error.

[2018-11-02 18:46] blainekasten commented on #283
Would you be willing to submit a fix? I'm not much of a typescripter so i'm not sure what the solution is.

[2018-11-02 18:54] tgaff commented on #276
Hi!  I think I'm seeing the same issue, although since this is the very first assertion I've tried with enzyme-matchers its possible that I've misconfigured...

[code]

Error:
[code]

I'm on "https://registry.yarnpkg.com/enzyme-matchers/-/enzyme-matchers-7.0.0.tgz#2f68a9094f025e4bbb40e1983ad11e39038cdde2"
and jest 23.0.1.

[2018-11-04 14:38] bschlenk commented on #283
Yeah I’ll take a look at it when I have some time.

[2018-11-11 19:49] astorije commented on #276
Yep @shawyu, I can confirm this issue is now resolved, though now I can't remember why I wanted to use `toContainMatchingElement`, as in my use case `toContainExactlyOneMatchingElement` is actually better suited. Oh well, at least it's fixed for when I need it :)

[2018-11-11 19:49] #276 closed

[2018-11-16 22:08] tleunen opened #285 "not.toHaveProp() doesn't work with propName={undefined}"
After testing, `toHaveProp` doesn't work well with undefined values.

Let's say you have `mount(<Comp action={undefined} />)`, these two don't behave the same:

The following will fail:
[code]
[code]

But the following works fine:
[code]

They should probably be similar, right?

[2018-11-16 22:48] blainekasten commented on #285
Hmm. It should work. This is the line that runs that:

https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/toHaveProp.js#L32

You are correct in that assertion should pass. Are you on latest?

[2018-11-16 22:53] tleunen commented on #285
7.0.1, yes. I'll double check the code while debugging the assertion later. I'll report back

[2018-11-16 23:21] conartist6 opened #286 "When Components pass props onto dom nodes, it is impossible to select the nodes."
In the application I work on, this is a common pattern as well as, in my opinion, a general best practice:

[code]
The problem is that it makes the resulting element impossible to use due to a combination of enzyme behavior and enzyme-matchers behavior.

The problem is that when a usage like `<Button id="foo" />` occurs, any enzyme selector like "#foo" will now return two elements instead if 1. It

[2018-11-17 00:17] blainekasten commented on #286
@conartist6 I definitely understand and personally agree that this is a shortcoming of enzyme. I am struggling to understand how enzyme-matchers is part of this or how enzyme-matchers could make this simpler. Definitely open to feedback here. I think the issue is primarily in the way Enzyme was designed.

If I remember correctly, what you described is the behavior of mount, whereas I believe the b

[2018-11-17 00:58] tleunen commented on #285
You can easily reproduce that by creating a test in jest-enzyme with this:
[code]

@blainekasten As you said, `not.toHaveProp('x')` goes into the condition you mentioned, but it `passes` because the prop exists. Here's the log for the `props` from the test at the beginning of this post:
[code]

Could it be that we just need to check for the undefined value as well?
[code]

[2018-11-17 01:00] conartist6 commented on #286
The more I think about it the more I think it's their problem not yours.

[2018-12-03 19:02] #286 closed

[2018-12-03 19:04] blainekasten commented on #261
I'm going to close this for now and wait to see if there are more issues like this before investing the work. More options isn't always better imo. So i'd like to strongly consider the tradeoffs and needs before making this change.

[2018-12-03 19:04] #261 closed

[2018-12-03 19:05] blainekasten commented on #230
Enzyme is going to be dropping the simulate call in v4. So i'm going to close this and not do it.

[2018-12-03 19:05] #230 closed

[2018-12-06 20:50] blainekasten commented on #285
So i've been diving into this. The more I work on it, the more I like the existing workflow. _Technically_ speaking, `undef={undefined}` still means that `undef` is a prop on the component. So to say that the component is `not.toHaveProp('undef')` is technically untrue.

If a prop is getting passed in as undefined, it seems both simple, and honestly more helpful to see the explicit `undefined` exp

[2018-12-06 20:50] #285 closed

[2018-12-06 20:59] tleunen commented on #285
Yep. I actually agree with you too. The more I thought about it, the more I understood why it was done like that ;)

[2019-01-15 15:27] cjolowicz opened #289 "Flow cannot resolve globalized enzyme variables"
From [jest-environment-enzyme](https://github.com/FormidableLabs/enzyme-matchers/tree/master/packages/jest-environment-enzyme#jest-environment-enzyme):

This requires [eslint-config-jest-enzyme](https://www.npmjs.com/package/eslint-config-jest-enzyme) to pass the linter. But how do you make your tests pass [flow](https://flow.org) if they don't import `mount` and `shallow`? I'm getting this:

[cod

[2019-01-15 15:36] cjolowicz commented on #289
Do you provide a flow libdef? My flow libdef for `jest-environment-enzyme` is an autogenerated stub.

[2019-01-15 19:07] pascalduez commented on #289
You've got to install Jest's type definitions from [`flow-typed`](https://github.com/flow-typed/flow-typed).

`npm i -g flow-typed` if you haven't previously.
`flow-typed install jest@23.x` or any version you use.

The Jest definitions contains jest-enzyme ones.

[2019-01-15 19:12] cjolowicz commented on #289
Thanks for your response. I already have type definitions for jest@23.x:

**flow-typed/npm/jest_v23.x.x.js**

[code]

I presume flow is not complaining about missing type definitions, but about the missing import.

How do you tell flow that `shallow` and `mount` are available as globals?

[2019-01-15 22:41] pascalduez commented on #289
I would create a mock file, but since a definition can't reference or import another one, I'm afraid your up for some copy/pasting of the flow-typed enzyme declaration and make it global.

Or paste that into the enzyme declaration, but it might get overridden on updates.

[code]

[2019-01-22 08:07] heygrady commented on #30
It's possible to achieve this (even though you don't need to) like this:

[code]

[2019-01-23 13:48] SevInf opened #290 "jest-enzyme + typescript: non-string selectors are rejected"
This is a valid code in JS:

[code]

However, typescript rejects it:

[code]

Enzhyme's own [type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/enzyme/index.d.ts#L378) contain much more flexible signature for selectors, where `jest-enzyme` defines only string selectors.

[2019-01-29 14:10] mulholio commented on #86
For anyone stumbling across this in 2019, @michaelgmcd's answer works but Jest's `setupTestFrameworkScriptFile` has been replaced by `setupFilesAfterEnv`

[2019-01-29 15:14] blainekasten commented on #86
@mulholio interested in submitting a PR to update docs?

[2019-02-11 23:24] sarneetk opened #293 "jest-enzyme not working with create-react-app"
I have an app based on `create-react-app`. I imported `jest-enzyme` in my `src/setupTests.js`:

[code]

when I run my tests, I am seeing the following error:

[code]

[2019-02-12 07:52] pascalduez commented on #293
I'm not familiar with CRA but I guess this is due the the Jest config key used, `setupFiles` for enzyme.
Whereas `jest-enzyme` needs to be configured later in the process. `setupFilesAfterEnv`.

[2019-02-20 16:45] serhiyzablotskiy opened #295 "jest-environment-enzyme has vulnerability in dependencies"
Hi. I have an issue with dependencies of jest-environment-enzyme.
In the latest version 7.0.1 there is dependency from jest-environment-jsdom@^22.4.1.
And this version of jest-environment-jsdom is deeply dependent from the `braces` package.
Here is reported vulnerability in `braces` package in versions earlier then v2.3.1 https://www.npmjs.com/advisories/786.
But jest-environment-jsdom@^22.4. refe

[2019-02-20 20:45] tgaff commented on #295
I spent a little time looking into this today.
Jumping to `jest-environment-jsdom` 23 doesn't quite work because they rolled back braces here:
https://github.com/facebook/jest/pull/6661

So I tried jumping to version 24.x which I've attempted here: https://github.com/tgaff/enzyme-matchers/tree/fix_braces_security_warning

[2019-04-11 12:14] alexanderkjeldaas opened #302 "README must explain why not jest-environment-jsdom"
It is impossible to know why I should use this over jest-environment-jsdom by reading the documentation.

[2019-04-11 14:34] ljharb commented on #302
? You shouldn’t, as they’re unrelated. This package is assertion matchers for enzyme wrappers; that one sets up the DOM for your tests.

[2019-04-11 15:10] blainekasten commented on #302
I believe @alexanderkjeldaas is referring to [jest-environment-enzyme](https://github.com/FormidableLabs/enzyme-matchers/tree/master/packages/jest-environment-enzyme) which is a superset of the jsdom environment.

The documentation for this has been difficult. It's by no means a requirement, just an optional package that can inject globals for React and Enzyme so you don't have to import them in y

[2019-07-18 20:35] sccdGyan opened #307 "7.0.1 -> 7.0.2 Incompatible with node 9"
Hi, this minor upgrade introduces incompatible issues with node 9.

```error sane@4.1.0: The engine "node" is incompatible with this module. Expected version "6.* || 8.* || >= 10.*".```

[2019-07-18 20:39] #307 closed

[2019-07-18 22:57] ljharb commented on #307
the "engines" field is advisory; you should ignore these warnings.

[2019-08-09 17:17] bz2 opened #309 "Incorrect flow typing for getDisplayName"
Regression from new code in https://github.com/FormidableLabs/enzyme-matchers/pull/306 flow check no longer passes if using `enzyme-matchers`:

[code]

[2019-09-03 12:57] bz2 commented on #309
The workaround is to treat `enzyme-matchers` as not having any usable flow types, in `.flowconfig`:
[code]

[2019-09-04 16:15] #309 closed

[2019-10-26 18:11] mockdeep opened #318 "Matchers incompatible with @types/jest 24.0.20"
Not sure how to resolve this, but it looks like upgrading `@types/jest` from `24.0.19` to `24.0.20` breaks compatibility with the `jest-enzyme` types. Seems like it can be tricky to maintain type compatibility across libraries with issues such as this.

[code]

[2019-10-28 03:39] blainekasten commented on #318
ugh. interfaces are globally scoped.. so dumb. we should just change to use `type` internally. I think that should fix it.

Could you test by making this change at `node_modules/jest-enzyme/lib/index.d.ts:7:15` in your codebase?

just change it to `type Matchers<R> = {`

[2019-10-28 09:27] vkrol commented on #318
Did you mean `type Matchers<R, T> = {`? If so, it works.

[2019-10-28 09:30] vkrol commented on #318
@blainekasten It doesn't work.
[code]
I thank that we need to change `interface Matchers<R>` to `interface Matchers<R, T>` in `jest-enzyme`.

[2019-10-28 16:47] blainekasten commented on #318
@vkrol did you test that locally to see it fix it? It just seems weird that typescript thinks they are the same

[2019-10-28 17:56] vkrol commented on #318
@blainekasten

Yes.

That's okay, because they're in the same namespace `jest`.

[2019-10-29 00:24] FrankSalad commented on #293
@pascalduez setupFilesAfterEnv triggers this error:
[code]

If I remove setupFilesAfterEnv and just include the testEnvironment key, I get this error:

[code]

[2019-10-29 00:27] FrankSalad commented on #293
I was able to solve by following [this tutorial](https://medium.com/@leonardobrunolima/react-tips-testing-react-component-with-jest-enzyme-basics-38a15d5dd72a)
Specifically, instead of changing `package.json` I created `src/setupTests.js` and inside I put:
[code]
Hope this helps 👍

[2019-10-29 15:35] #318 closed

[2019-11-01 16:35] mvasin opened #328 "Rename toContainReact"
`toContainReact` looks like an irrelevant name to me.

An instance of a component `<MyComponent />` (as opposed to the component itself `function MyComponent() {}`) [has it's name](https://reactjs.org/blog/2015/12/18/react-components-elements-and-instances.html), and it's called Element. So I propose to deprecate `toContainReact` and use `toContainElement` instead.

[2019-11-04 19:12] blainekasten commented on #328
@mvasin you are absolutely right.

It seems like what is proper would be the following breaking changes:

- `toContainReact` -> `toContainElement`
- `toContainMatchingElement` -> `toContainElementBySelector`
- `toContainMatchingElements` -> `toContainElementsBySelector`
- `toContainExactlyOneMatchingElement` -> `toContainExactlyOneElementBySelector`

`toMatchElement` and `toMatchSelector` already

[2019-11-04 19:16] mvasin commented on #328
It's great to see your support! I'll be happy to do it.

[2019-11-04 19:23] blainekasten commented on #328
Thanks @mvasin! Of course. I've felt weird about some of these APIs but hadn't given it much thought lately.

[2019-11-18 00:56] davidjb commented on #169
In case anyone lands here later, `toBePresent` was removed in v5 and replaced with `toExist`.  See details in the changelog: https://github.com/FormidableLabs/enzyme-matchers/blob/master/CHANGELOG.md#500

[2019-12-18 09:33] ysgk opened #329 "v7.1.2 is not working on IE"
Hi,

I'm using `jasmine-enzyme` to test components on real browsers using karma according to [this guide](https://airbnb.io/enzyme/docs/guides/karma.html#alternative-karma-webpack-setup).
However, I noticed that IE tests are failing since v7.1.2.
This is because the current babel target is `node: 'current'`.
Could that be more widened so that IE tests run without compiling enzyme-matchers?

[2019-12-19 16:44] blainekasten commented on #329
@ysgk Oooo, good point. I typically live in jest land and completely forgot about running in browsers.. Yeah we should fix this. Mind submitting a PR?

[2019-12-20 03:38] ysgk commented on #329
@blainekasten
Thanks for the quick response :) I submitted #330

[2020-01-07 17:57] Blacktiger opened #332 "toBeDisabled not working as expected"
Not sure why this is happening, but the button is definitely _not_ disabled.

    Expected node (Button) not to be "disabled" but it was
    Node HTML output: <button class="button button-primary" type="submit">Save</button>

      91 |     simulateChange(wrapper.find('select[name="defaultRole"]'), 'anonymous');
      92 |

[2020-01-07 18:05] Blacktiger commented on #332
Doing some jest debugging, even though the disabled attribute is not on the html, if I ask for `.prop('disabled')` I get a true value.

[2020-01-07 18:26] blainekasten commented on #332
I would need to see more code to be able to help. At it's simplest form, `toBeDisabled` is just a wrapper around `.prop('disabled')` see, https://github.com/FormidableLabs/enzyme-matchers/blob/master/packages/enzyme-matchers/src/assertions/toBeDisabled.js#L15

So if you have are getting true with the direct `prop()` call, it must be an issue with your code. I'm going to close this issue because i'

[2020-01-07 18:26] #332 closed

[2020-01-07 18:35] ljharb commented on #332
@Blacktiger this is likely that you're misusing enzyme; specifically, you can't reuse found wrappers. You have to re-find from the root every time.

[2020-01-07 19:32] Blacktiger commented on #332
Ah, that's probably what's wrong. Thanks @ljharb!

[2020-01-25 16:29] Methuselah96 opened #334 "Update jest-environment-jsdom in jest-environment-enzyme"
It would be great if `jest-environment-jsdom` in `jest-environment-enzyme` could be upgraded to v25. Right now I have to depend on https://github.com/ianschmitz/jest-environment-jsdom-fifteen and add it to my `testEnvironment` since I require at least jsdom v15. It would be great if I could remove that dependency. Thanks for all the hard work!

[2020-03-04 08:50] wzup opened #338 "argv.config.match is not a function, Process finished with exit code 1"
Configuration doesn't work in PhpStorm.

My question on StackOverflow https://stackoverflow.com/questions/60521964/how-to-configure-jest-in-phpstorm-for-react-application-create-react-app-flavor

Duplicate it here.
When I specify jest config in a separate file, jest-environment-enzyme can't parse or see it or anything.
But it can see config if I specify it in package.json, but anyway it throws err

[2020-03-25 19:31] ljharb opened #340 "Transfer to the enzymejs org?"
Hi!

Now that enzyme is in its own org - https://github.com/enzymejs - do you have any interest in transfering this repo/npm package to it? You'd of course continue to maintain it the same, but it'd make it more discoverable and supported :-).

If you're interested, please lmk what github and npm names to add to the orgs!

[2020-03-31 03:43] blainekasten commented on #340
Hey @ljharb!

I don't actually work for Formidable anymore. So it's not really my call. It would be up to @boygirl. I'm content with either approach. This library get's used a lot so I don't think it's necessary.

To me, it's actually nice letting Formidable own it, because then I'm not the only one maintaining this! (which I've been doing less of lately anyhow)

[2020-03-31 03:44] #334 closed

[2020-03-31 05:19] ljharb commented on #340
Totally fair :-) my hope would be that more people could maintain it if it were transferred (since Formidable wouldn't have to be the only bottleneck there), and that Formidable would continue maintaining it as well!

[2020-05-14 23:37] Dispersia commented on #86
If you're still having the issue after the above, try updating your node version. We were attempting against node 10, and it did not pass, but upgrading to 13 fixed.

[2020-05-22 11:34] tannera commented on #261
The possibility to provide custom options would now be useful because the: `{ ignoreDefaultProps: true }` now exists. https://github.com/adriantoine/enzyme-to-json#helper

[2020-06-03 12:47] GiladR1979 commented on #86
I followed this guide and finally it worked:
https://medium.com/@hdsenevi/unit-testing-in-react-native-with-jest-and-enzyme-40cd7dabb6f1

[2020-06-09 07:20] ghasemikasra39 commented on #86
I am facing the same issue:
jest.config.js
[code]

setup-tests.js
[code]
Env.
[code]

[2020-06-12 00:33] ealemda2 commented on #86
Same issue, fixed by upgrading node v10.10 --> v10.15 [(see original comment)](https://github.com/testing-library/jest-dom/issues/122#issuecomment-642999181)

[2020-06-29 07:52] Amrkamel1 commented on #276
im getting the same error when im running my test against multiple browser, same assertion is working properly when its running against one browser

[code]

[code]

[2020-07-01 21:11] ljharb commented on #340
ping @boygirl; any thoughts on this? There's a number of unmerged PRs, for example.

[2020-09-07 12:39] DanilAgafonov opened #349 "Release new version of `jest-environment-enzyme`"
5 months ago this PR was merged https://github.com/FormidableLabs/enzyme-matchers/pull/339

But this changes was not published to NPM.

Could you please publish it?

[2020-09-18 09:15] espretto opened #350 "jest-enzyme: docs: installing jest-enzyme and its type defs"
Hello,
the readme currently has two split sections on installing jest-enzyme: one at the top for general import and another at the bottom for cra and ts specifics. I'd like to put them under a common headline and make the following changes:

The [alternative setup](https://github.com/FormidableLabs/enzyme-matchers/tree/master/packages/jest-enzyme#setup) suggests to specify jest-enzyme's main modul

[2020-10-13 17:30] s-weigand commented on #350
Thanks to you issue I finally got my tests running with `ts-jest` 😄
I added `"typeRoots": ["./node_modules/@types","./node_modules/jest-enzyme/lib"]` to my `compilerOptions`.

[2020-10-13 22:50] Hypnosphi commented on #349
@blainekasten can you please share the current release plans?

[2020-10-16 17:09] GreenGremlin opened #351 "The current version of jest-enzyme breaks the latest version of jest"
I just setup jest-enzyme in a package running jest 26 and ended up with a bunch of jest 24 packages. I'm now getting typescript errors for `jest` being undefined, which I assume is caused by incompatible versions of jest being installed. This appears to be caused by jest-enzyme's version pin for jest-environment-jsdom v24. The jest-environment-jsdom package only appears to be used in one place, id

[2020-10-16 17:14] GreenGremlin commented on #351
Here's a diff of jest-environment-jsdom between v24.9.0 and v26.5.2, if that's helpful.
[code]

[2020-10-16 20:25] Methuselah96 commented on #340
@boygirl Can you help us out here? Seems like this project has stalled.

[2020-10-26 23:10] boygirl commented on #340
@ljharb apologies for the long delay. I got approval to transfer this project to the enzyme github org if you're still interested in taking it over. Let me know, and I can help with the npm transfer as well.

[2020-10-27 05:00] ljharb commented on #340
@boygirl awesome, I'm very interested!

I've added you to the enzymejs github org, and if you `npm owner add ljharb`, i can add it (and you) to the enzyme npm org as well. Thank you!

[2020-10-27 17:18] boygirl commented on #340
@ljharb you should be good to go. Let me know if you need anything else.

[2020-10-27 19:11] ljharb commented on #340
@boygirl thanks! Looks like i still need npm publish rights. I invited @blainekasten to the enzyme npm org; what's your npm username?

[2020-10-27 20:52] boygirl commented on #340
Hmm, you should have publish rights. My npm username is `boygirl`, but that user isn't an owner on these packages. Only `formidable-owner` and `blainekasten`. I logged in as `formidable-owner` via npm's web interface and invited you. Let me triple check. I've have had some issues with updating npm permissions via the web interface before.

[2020-10-27 21:10] boygirl commented on #340
Okay, I've added you via the CLI, so you should now have publish rights for `enzyme-matchers`, `jest-enzyme`, and `jasmine-enzyme`. I couldn't add you to `eslint-config-jest-enzyme` or `jest-environment-enzyme` because @blainekasten is the sole owner.

[2020-10-27 21:32] ljharb commented on #340
Awesome, thanks! Let me know if you lost any access you need in the process, but I think we should be all set.

[2020-10-27 21:32] #340 closed

[2021-01-27 19:37] merrywhether commented on #349
This release is necessary for Node 14 support:
[code]

[2021-03-10 06:11] scinos opened #353 "Status of the project"
Hi!

What is the status of this project? Is it still being maintained?

Last commit is from almost 1 year ago, and since then there has been important issues like Node 14 support (#349) or Jest 26 support (#351) with no comment from the maintainers.

[2021-03-10 06:13] ljharb commented on #353
The project was recently moved into the enzyme org; I'll try to address those issues and cut a release in the next few weeks.

[2021-03-24 13:23] allanpaiste commented on #290
Although the provided example indeed solves that specific use-case, forcing the type of the other matchers to accept only string as input imposes several limitations for no real reason, which makes it impossible to achieve assertions that - without types - work just fine (meaning: the implementation surely seems to support it):

[code]

I'm not quite sure why assertion of a library that deals expl

[2021-06-05 13:17] Kikobeats commented on #353
looks like this project is dead ☹️

[2021-06-05 19:42] scinos commented on #353
How can I help?

El sáb., 5 jun. 2021 5:13 p. m., Jordan Harband ***@***.***>
escribió:

[2021-06-07 13:26] valen22br commented on #351
Yes, I'm trying to run `jest-environment-enzyme` package with `Jest 27.0.3`, and it's breaking my tests.
I did the upgrade of `jest-environment-jsdom` inside `package.json,` and it is working.

Will this package be upgraded, or if not, what should we use instead?

[2021-06-29 17:59] Kikobeats commented on #353
@ljharb if you give us the right permissions, we can push the project forward!

There are some easy PR that can be merged and keep the project up to date.

[2021-07-01 11:20] AlonMiz commented on #349
it also breaks when working with react 17 cause of an old jsdom version
https://github.com/testing-library/user-event/issues/592

[2021-07-01 11:24] AlonMiz commented on #353
agree. we are stuck right now because of the out of dated js dom.
that isn't working with react 17.
also in order for something to work, we needed this package
@wojtekmaj/enzyme-adapter-react-17

[2021-07-01 11:46] galangel commented on #349
+1

[2021-07-01 12:43] tomcohen1992 commented on #349
+1

[2021-07-01 12:46] ron-logzio commented on #349
+1

[2021-07-01 12:50] nofar9792 commented on #349
+1 🙏

[2021-09-19 14:42] csalvato commented on #351
@valen22br how did you do this?  Upgrading these packages independently didn't work for me, but I have a feeling you are doing something a bit more advanced.

[2021-09-27 09:58] LexaDel commented on #353
@ljharb Hi, Could you update jest-environment-jsdom in jest-environment-enzyme to 27.2.2 version to support the new jest?

[2021-09-27 16:07] ljharb commented on #353
@LexaDel no, because i have zero association to `jest-environment-enzyme`, and this project (as well as enzyme itself) has no relation to jest.

[2021-09-27 16:08] ljharb commented on #353
@LexaDel it's on my list of stuff to do.

[2021-11-02 22:50] BerkeleyTrue commented on #353
any updates on this?

[2021-11-16 08:58] GoudekettingRM commented on #353
@ljharb Thanks for doing this! Can imagine how much work it would be. Do you have a timeline for react 17 and node support?

[2021-11-16 16:14] ljharb commented on #353
I do not have a timeline for react 17 support; i don’t know what “node support” it’s lacking.

[2021-11-16 16:17] GoudekettingRM commented on #353
Sorry, the node support I added by mistake 😅  That's all working as it should.

Thanks for the quick reply (:

[2021-11-22 23:38] jamiegluk commented on #351
You can manually edit your lockfile, that'll work, but the better way to do it is via [resolutions](https://classic.yarnpkg.com/lang/en/docs/selective-version-resolutions/), if you are using Yarn; add this to your package.json:

[code]

You can also do this in classic NPM using the [npm-force-resolutions](https://www.npmjs.com/package/npm-force-resolutions) package.

[2022-01-19 18:51] StephenGrable1 commented on #351
@jamiegluk ^ was encountering issues as well and this resolution block fixed it for me 🙏

[2022-03-10 03:50] haixiangyan commented on #351
` npm i -D jest-environment-jsdom@^27` could help

[2022-04-17 19:10] ja0n commented on #349
+1

[2022-04-28 16:37] umeshshimpi opened #369 "jest-enzyme: vulnerability related to unset-value"
We are seeing vulnerability in jest-enzyme version 7.1.2 which is using unset-value@1.0.0
The fix for this is to upgrade unset-value to 2.0.1
https://security.snyk.io/vuln/SNYK-JS-UNSETVALUE-2400660
here's the dependency tree:
`└─┬ jest-enzyme@7.1.2
  └─┬ jest-environment-enzyme@7.1.2
    └─┬ jest-environment-jsdom@24.9.0
      └─┬ @jest/environment@24.9.0
        └─┬ @jest/transform@24.9.0

[2022-04-28 17:25] ljharb commented on #369
Prototype pollution isn't really an attack vector when it's in your test framework - anyone who has the authority to write tests already can do far more dangerous things.

[2022-06-02 19:47] iangreenleaf opened #371 "`toContainMatchingElement` considers `className` prop rather than actual HTML"
If a component is passed a `className` but doesn't use it, `toContainMatchingElement` will still pass when given a class name selector. It seems like it must be detecting the `className` prop, even though it's never rendered to the HTML. For example:

[code]

[2022-06-02 19:57] ljharb commented on #371
That's expected - `el` DOES contain `<MyElement className='foobar' />`.

Try `expect(el.hostNodes()).toContainMatchingElement('.foobar');`.

[2022-06-02 20:19] iangreenleaf commented on #371
Upon further investigation, I've realized that this is an enzyme problem, not this library. I had initially misread a test that made me incorrectly think the problem was isolated to this library. Sorry for the mistaken report!

[2022-06-02 20:19] #371 closed

[2022-06-02 20:23] ljharb commented on #371
@iangreenleaf i assume it's an enzyme *usage* problem, as i've indicated? if not, please file an issue on enzyme.

[2022-06-02 20:38] iangreenleaf commented on #371
@ljharb your `hostNodes()` suggestion didn't work because it doesn't seem to return the single element (it shows up as an empty set). But I was able to get a correct test by using a similar strategy of calling `render()` and Cheerio functions to parse the actual HTML.

I suspect I would get told the same thing by enzyme, that this is working as expected. I personally think it's pretty wild that en

[2022-06-02 20:40] ljharb commented on #371
No, I agree with you - the issue is likely that selectors match *the components themselves* as well as the things they render.

`render()` should generally be avoided and rarely needed, and i think `mount` should work for this case. If you file an issue on enzyme we can try to work out the problem.

[2022-06-02 20:58] iangreenleaf commented on #371
Thanks, nice to know I'm not alone in this! Filed https://github.com/enzymejs/enzyme/issues/2560 for it.